[2015-10-03 10:19] kuka opened #1 "Example isn’t available"
Hey!

First of all, thank you for the plugin.

You have listed an example with link leading to https://untra.github.io/polyglot, which is not open sourced. Can you add it as a public repo so we can see the structure and linking?

Thanks again.

[2015-10-03 17:26] untra commented on #1
Hi @kuka !

The example website https://untra.github.io/polyglot is on my seperate [site](https://github.com/untra/polyglot/tree/site) branch. You can look at that to see the structure and linking. I will make that clearer in my readme, and I'll start a wiki with specific how-to steps.

Cheers!

[2015-10-03 18:00] kuka commented on #1
@untra much appreciated!

[2015-10-05 18:06] #1 closed

[2015-11-08 16:10] needcaffeine opened #2 "Jekyll 3.0.0 support?"
Hi— I'm using Jekyll 3.0.0 and I installed this plugin using a Gemfile and including it in my gems list in _config.yml. To build, I do a `bundle exec jekyll build`, which loads all my other plugins but I'm unable to get past ``require': cannot load such file -- jekyll-polyglot (LoadError)`.

I see that you don't promise compatibility higher than 2.5.3, but I just want to make sure I'm not doing so

[2015-11-08 16:57] untra commented on #2
Hi @needcaffeine ! Thanks for trying out Polyglot! :+1:

I didn't promise support for jekyll 3.0, and currently I'm learning how to properly write jekyll plugins using the new [hooks](http://jekyllrb.com/docs/plugins/#hooks) plugin framework. I do intend to release a version specifically for Jekyll 3.0 compatibility within a few weeks. I've been a bit busy with a few other projects, but I am still

[2015-11-15 02:32] untra commented on #2
Polyglot v1.1 has been released! This fully supports jekyll 3.0 blogs. Just drop the [polyglot.rb](https://github.com/untra/polyglot/blob/master/lib/polyglot.rb) file into your `_plugins` folder, and you're ready to fly like an *eagle*!

Let me know if you have any further trouble.
Cheers,
untra

[2015-11-15 02:32] #2 closed

[2015-11-16 04:14] needcaffeine commented on #2
Oh perfect. I'll give it a try when I get back to my desk from vacation!

[2015-11-17 13:22] Vaggos opened #3 "Files structure and naming conventions (configuration in general)"
Hello @untra.
I am trying to use your plugin for my site, but I am having difficulty understanding how it really works. For example you write “It doesn't matter where you put the files or what you name them. What matters is that your English about page has lang: en in the front matter.” And then you are using an example about the “about” page. My question is: Must we have a separate file for each

[2015-11-17 17:56] untra commented on #3
Hi @Vaggos !

Okay! Something to know about Jekyll blogs is that every page/post/document on your blog *must* correspond with a unique file in your project. You cannot have multiple webpages corresponding to the same file. This is true of all jekyll blogs, not just the polyglot plugin.

Polyglot associates similar files by their permalinks. That is, if you have two pages like so:
*about-fr.md*
[co

[2015-11-17 19:17] Vaggos commented on #3
Thank you @untra. That got a lot sorted out. I got my pages going. Now, I have to study the example you provided for the multilingual navbar. Can you understand if the way Sylvain Durand (https://www.sylvaindurand.org/making-jekyll-multilingual/) did it is similar to yours? I am asking both out of curiosity and a possibility to standardize something.
Thanx again, and please let me know if I can co

[2015-11-20 22:29] needcaffeine commented on #3
I'm adding to this question about organization instead of starting my own thread. Apologies is that's not proper etiquette.

My site is in four different languages. In order to not gum up the base folder, I have all the files in their specific language folders. It looks like this:

[code]

The relevant settings in _config.yml are:
[code]

What ends up happening is that my _site is generated lookin

[2015-11-20 22:52] needcaffeine commented on #3
Deleted my post. Figured it out.

[2015-11-30 11:20] slbug opened #4 "relative_url_regex if site.baseurl empty produces not matchable regex"
Html string
[code]

Produced regex:
[code]

There should be just one \/ after first quotation mark.

[2015-12-02 05:54] untra commented on #3
@Vaggos [I made a small introduction post](https://github.com/untra/polyglot/wiki/Managing-Supported-Languages) to the wiki explaining The general approach to using Polyglot (not specifically a navbar tho).

I'm going to close this issue. Let me know if you are still having any trouble, or if you need help working with Polyglot.

cheers,
untra

[2015-12-02 05:54] #3 closed

[2015-12-02 06:08] untra commented on #4
@slbug  You are totes-mcgotes right. whoops, hehe. :sweat_smile:

#5 just got pulled in. I addressed it there, and I wrote a bunch of tests to test around this bug. Nice find! Is it alright if I leave your name in the readme for credits?

Cheers,
Untra

[2015-12-02 08:30] Vaggos commented on #3
Thank you very much @untra. I have figured out most of it, but some extra instructions are always welcome. Thanx again!

[2015-12-04 11:47] sgroth opened #6 "String localisation and data files"
Is there a way to localise strings from data files? My use case is that I generate a menu from a `nav.yml`-file in `_data`

    - title: "publications"
      href: "/publications/"

    - title: "blog"
      href: "/blog/"
and so forth. Can the respective `{{ navitem.title }}` be converted according to the il8n-Strings in `_config.yml`?

[2015-12-05 23:41] #4 closed

[2015-12-05 23:48] untra commented on #6
@sgroth
yup! I do just that on my [polyglot sample site](http://untra.github.io/polyglot/) I make a hash object in my [`_config.yml`](https://github.com/untra/polyglot/blob/site/_config.yml#L19) and then reference that object with `site.active_lang` [in my sidebar](https://github.com/untra/polyglot/blob/site/_includes/sidebar.html#L12).

Your approach to have different i18n strings stored in diffe

[2015-12-06 11:37] sgroth commented on #6
Thanks!

For reference, this is how I generate the menu with entries from a data file:

    <nav role="navigation">
        {% for nav in site.data.nav %}
        <ul>
        <li>
            <a href="{% if site.active_lang == "en" %}{{site.baseurl}}en{{ nav.href }}{% else if %}{{ nav.href }}{% endif %}">{% if site.active_lang == "en" %}{{ nav.title }}{% else if site.active_lang =="de" %}{{ nav.t

[2015-12-06 11:37] #6 closed

[2015-12-09 01:53] Anthony-Gaudino opened #7 "Improving Polyglot / More info about the plugin"
@untra, I would like to create a Jekyll 3 website for an open source project and I'm currently looking for a i18n plugin to help me during the website development. I tried the [jekyll-multiple-languages-plugin](https://github.com/screeninteraction/jekyll-multiple-languages-plugin) and I just created a [pull request](https://github.com/screeninteraction/jekyll-multiple-languages-plugin/pull/55) for

[2015-12-09 06:21] untra commented on #7
Hi @Anthony-Gaudino !

Are there any known problems with the plugin? Not really (or that I know of), however there definitely isn't enough well-written documentation on how to use Polyglot. I need to write more documentation, and put a few examples up. I'm a student in finals mode right now, and polyglot isn't my fulltime job. I do want to put up a decent tutorial on making a seriously badass mult

[2015-12-09 16:22] Anthony-Gaudino commented on #7
Thank you for the answers @untra.

I'm really in doubt on what i18n plugin to use, there are many language plugins. Not taking into account the old ones that don't have recent activity, I still have these to choose:

* [jekyll-multiple-languages](https://github.com/liaohuqiu/jekyll-multiple-languages) (Might not work with Jekyll 3)
* [jekyll-language-plugin](https://github.com/vwochnik/jekyll-lang

[2015-12-20 18:20] untra commented on #7
@Anthony-Gaudino,

Thanks for your patience. I've been busy the past week with finals. I made polyglot a gem again. You should be able to install it by putting
[code]
into your gemfile.

Of the plugins you listed, the [jekyll-multiple-languages-plugin](https://github.com/screeninteraction/jekyll-multiple-languages-plugin) you mentioned is [what I based](https://github.com/untra/polyglot#why) polyg

[2015-12-20 18:20] #7 closed

[2016-01-02 09:49] ckreutz opened #8 "Are categories and tags available in different languages?"
This plugin looks very promising. I wonder if it also has a solution to manage tags or categories in different languages?  So I could have tags for blog posts in different languages.

[2016-01-03 21:33] untra commented on #8
Hi @ckreutz!

This plugin is designed to provide a minimal set of lightweight tools that a programmer can use to make a commercial scale jekyll website. While Polyglot *doesn't* provide explicit support for translating tags and posts, there are ways to provide explicit string translations. You can do this by putting your tags and categories strings in a `.yml` file in your `_data/` directory. Look

[2016-01-04 11:37] ckreutz commented on #8
Thanks for the quick reply and the tip to separate tags in an own yml file. I have to get my head around it, but now I have a good starting point. I guess it needs a bit more linking to the correct categories etc. but that is another topic.

[2016-01-17 19:22] #8 closed

[2016-01-20 03:43] maasencioh opened #9 "github pages"
Hello, very interesting job, is this supported by the github pages? thanks

[2016-01-20 14:59] gijsroge opened #10 "Categories support"
Am I right that there is currently no support for categories?

Lets say I have:
* post-1.markdown (english category name)
* post-2.markdown (english category name)

##### French folder:
  * post-1.markdown (french category name)
  * post-2.markdown (french category name)

And if I loop trough my site.posts it will render 4 posts.

Or is there a nice workaround for this?

[2016-01-20 15:35] untra commented on #10
@gijsroge

Polyglot does not provide formal support for multi-language categories. This does not mean you can't add it in yourself. There is a workaround using a string dictionary with keys set to the i18n language codes. See [this issue](https://github.com/untra/polyglot/issues/8) for more information.

This seems to be a popular request. I may update polyglot in the future to provide formal supp

[2016-01-20 15:39] untra commented on #9
@maasencioh
Polyglot is not supported by github pages. To host your multi-language website on github pages, see [this](https://github.com/untra/polyglot/wiki/Github-Pages-Support) wiki page.

I hope this helps!

[2016-01-26 13:21] gijsroge commented on #10
@untra Thanks, works fine indeed.

[2016-01-26 13:21] #10 closed

[2016-02-12 16:53] LsKs opened #11 "No windows support"
I'm trying to get polyglot to run on my windows machine, however it fails with the following error:

`C:/Users/kamilw/Dev/pryw/_plugins/polyglot.rb:29:in "fork": fork() function is unimplemented on this machine (NotImplementedError)
	from C:/Users/kamilw/Dev/pryw/_plugins/polyglot.rb:29:in "block in process"
	from C:/Users/kamilw/Dev/pryw/_plugins/polyglot.rb:28:in "each"
	from C:/Users/kamilw/Dev

[2016-02-12 17:09] #9 closed

[2016-02-12 17:23] untra commented on #11
Yeah, that makes sense. Fork is exclusively a *nix command. Hmm...

Part of the trickyness is how windows and *nix create background processes. Windows doesn't implement `fork()`. I actually never tested this on a windows machine, but it makes sense it wouldn't work. Damn.

I'll think about finding a solution for this. A quick fix would be to take away the parallelism on windows machines, or at le

[2016-02-13 00:29] maasencioh commented on #9
I never say thanks, very useful!

[2016-02-13 01:10] LsKs commented on #11
I've read that you can use spawn() instead (it actually really reminds me of Node.js child-process creation), but as I say that's my first step into the Ruby world so I have no idea.

For now, I was trying to implement only 3 languages on a single landing page (with blog in the future), so there's not really much content.

[2016-02-13 01:13] LsKs commented on #11
I could just possibly use your plugin on my OS X machine, but thought it could be essential to fix the problem for future windows users.

[2016-03-08 17:10] pudo opened #12 "Will not exclude jekyll-assets folder"
Thanks for your great plugin. I'm trying to use it with a site that also makes use of [jekyll-assets](https://github.com/jekyll/jekyll-assets). This mostly works fine, except the ``exclude_from_localization`` setting does not seem to apply to the output folder of ``jekyll-assets``, i.e the folder gets reproduced in each language copy of the project. Can you give me any advice for how to have only

[2016-03-08 18:02] untra commented on #12
Hi @pudo !

In your assets configuration, you should have a value somewhere that looks like `prefix: /assets` or whatever you named the `jekyll-assets` output folder to be. Is that folder also listed in your `exclude_from_localization` array?

Better yet, is your jekyll project on github? I'll take a look at it.

[2016-03-08 18:06] pudo commented on #12
Thanks for the quick response, @untra! Here's what I have so far: https://github.com/occrp/occrp.org-jekyll/blob/master/_config.yml - my plan is to not build the fake language "zz" at all, it's just there so the default language gets a prefix, too. But even without that, the assets directory is replicated in each language dir.

[2016-03-08 18:11] untra commented on #12
It looks like the [occrp.org-jekyll](https://github.com/occrp/occrp.org-jekyll) is a private repo. I don't have permissions to look at it :/

[2016-03-08 18:13] pudo commented on #12
Sorry! It's public now.

[2016-03-08 18:23] untra commented on #12
Huh, It looks like you have "assets" listed in both your `exclude_from_localization` and `prefix` fields. I'll take a look at this more in depth this weekend, when I have some spare time. I haven't done any testing with jekyll-assets, but Its a popular repo, and worth making sure it cooperates with polyglot. :+1:

Thanks @pudo!

[2016-03-08 18:37] pudo commented on #12
Thanks very much - and sorry for the bad issue description, I'm not a Ruby guy...

[2016-03-20 14:42] JesusMtnez opened #13 "`relative_url_regex` regex error"
I am trying to use this plugin in my jekyll blog.

- First I tried to use the gem. It didn't work.
- So I use the plugin file `polyglot.rb`. I placed it in my `_plugins` folder.

But when I try to build my blog, I get the following error:

![screen shot 2016-03-20 at 15 31 08](https://cloud.githubusercontent.com/assets/8639179/13904926/3d4e8af8-eeb1-11e5-997f-3326ebd920d0.png)

I'm not a ruby expe

[2016-03-20 15:01] untra commented on #13
@JesusMtnez Can you post that full error please? The regex actually changes based on what files are in your `exclude` list, and something tells me a file is screwing it up.

Is your project on github? Can I look at it?

[2016-03-20 15:05] JesusMtnez commented on #13
@untra Thank you for your answer. Of course, you can find my blog in: [jesusmtnez.github.io](http://jesusmtnez.github.io)

[2016-03-20 15:11] untra commented on #13
I see it. I'm not accounting for glob-matched filenames in my regex, which is apparently allowed when listing files with `exclude:` configuration. This is a bug on my part. Good find!

In the meantime, you can get polyglot working by removing anything matched with a wilcard `*` in your [exclude list](https://github.com/JesusMtnez/jesusmtnez.github.io/blob/master/_config.yml#L87). Namely, it's the

[2016-03-20 15:12] JesusMtnez commented on #13
@untra You were right. I commented `exclude` and it works!

[2016-03-20 15:14] JesusMtnez commented on #13
@untra I see. Good to know! I will remove them and continue with my blog. Thank you for your attention. I'm sorry but I can't fix this issue, since I don't know ruby. But I'm glad I helped to detected.

Thank you again.

P.S.: Great plugin, by the way! :+1:

[2016-03-20 15:19] untra commented on #13
Glad you like it. I'm sorry the gem isn't working at the moment. I'm compiling a list of features and fixes for a new version of this plugin based on user feedback and extreme edge-cases. At the moment it's not conforming to a lot of jekyll standards, and relies on a few too many hacky ruby tricks (such as a dynamically changing regex).

Let me know if you have any other trouble!
@untra

[2016-03-20 15:19] #13 closed

[2016-03-26 15:44] MSchmidt opened #14 "Baseurl modified with locale string leading to broken URLs with two locales"
E.g. while being on ``example.com/es`` ``baseurl`` is modified to include ``/es`` which leads to URLs with ``/es/es``.

This is used in head.html on your example page:
[code]

Which generated this:

[code]

I'm not sure if this is a problem with the plugin or with the example page but either way I thought I'd let you know.

[2016-03-27 20:51] untra commented on #14
Ah! Nice catch! :+1:  It's a problem with the example page. I changed the code to what it should have been:
[code]
It was supposed to be `site.url`, which corresponds to `https://untra.github.io/polyglot` in the `_config.yml`. I fixed the example page.

[2016-03-27 20:54] untra commented on #12
I hope I've been of help. This is partially a problem of jekyll-assets. Let me know if you have any questions or concerns!

[2016-03-27 22:10] MSchmidt commented on #14
Nice. Thanks for fixing this. I don't really understand it though. In the sidebar you are using ``site.baseurl`` as well and there is works just as expected. Why does it behave differently in head.html?

[2016-03-29 17:44] pudo commented on #12
Thanks, yes! We didn't end up using polyglot after all, instead using a few snippets of bespoke ruby. Many thanks for your support, though!

[2016-03-29 17:44] #12 closed

[2016-04-04 11:02] recallfx commented on #11
Hi, I have made a quick workaround #15 that at least woks in windows.

[2016-04-04 18:46] untra commented on #11
Thanks @recallfx for all of your help. I implemented most of those changes in #16.
Cheers!

[2016-04-04 18:46] #11 closed

[2016-04-07 08:59] equinusocio opened #17 "No sense plugin."
I can not find a logical sense to write a page for each language, I might as well do it by hand. (And you have to do anyway even with the plugin).

It would make sense to create one file per page and have them completed for all set languages. Like:

[code]

So by this way i will write only a page template and use a plugin inside that grab each respective language file (for all set languages) durin

[2016-04-07 17:47] untra commented on #17
@equinusocio Storing strings of each languages content in yaml files is a frequently used design pattern for multi-language software. It is also a design pattern that I recommend using in conjunction with this plugin for rich content such as navigation, banners, and short strings.

For very large strings (such as for entire pages of web content), this design pattern used exclusively is a bad idea.

[2016-04-08 14:11] equinusocio commented on #17
@untra What i need is to write only one file per page (example about.html) and put inside the relative yml string that will be compiled for each languages. And return

[code]

there is a way to get this with this plugin?

[2016-04-08 15:10] untra commented on #17
Yes, you can do just this. As a proof of concept, I made a [Sample Data](http://untra.github.io/polyglot/sample/) page that uses [strings stored in a .yml file](https://github.com/untra/polyglot/tree/site/_data), that are then applied to a universal [sample.md file](https://github.com/untra/polyglot/blob/site/sample.md). This is something that you can do with your multilingual site, and I recommen

[2016-04-08 15:16] equinusocio commented on #17
Thanks man!

[2016-04-08 15:43] #17 closed

[2016-04-29 14:58] cekageka opened #20 "i18n-header is parsed"
Hi,
am I doing something wrong or is it a bug: My i18n-headers look 'double-parsed', see yourself:

[code]

Thanks,
Christian

[2016-04-29 15:05] untra commented on #20
That does look double parsed. Can I see your jekyll code? hreflang alternate code's should be using the external url of your website, and should look more like this:

[code]

[2016-04-29 15:10] untra commented on #20
Also, what version of polyglot are you using?

[2016-04-29 15:28] cekageka commented on #20
You're right, I removed the #url for testing purposes. Beside that it's a 1:1 copy of the current GH master branch.

[2016-04-29 15:29] cekageka commented on #20
I have re-checke, it's 100% the current code, it's just url is empty in the dev-version I am currently working on.

[2016-04-29 21:46] untra commented on #20
can you show me the code? Otherwise I really can't help you, haha :smile:

[2016-04-29 21:51] cekageka commented on #20
Sure, but like I said, it's yours ;-)

[code]

What I assume is, that the link is changed to i.e. '/de/page' and your main code is later changing the /page to /de/page because of the language link processing. The result is /de/de/page...

[2016-04-29 21:59] untra commented on #20
I'm sorry, let me be clearer: I want to see your jekyll repo, and in particular how you are using the `{%I18n_headers %}` tag. Is that cool? or is it a private repo?

[2016-04-29 22:13] cekageka commented on #20
I see, but I am afraid I can't do that. It's in a private repro in GitLab. Well, if you're sure this works well I may have to build a short Github repro in the next days. My current repro is still quite fresh, I don't see much specials wich could be resonsible for the problem.

But if it may help, here's the header:

[code]

BTW, that's why I thought it's a generic problem... the header is parsed

[2016-04-29 22:22] untra commented on #20
AHA! `{% I18n_Headers %}` additionally needs the permanent address of your website. It needs to be used like this:
[code]
See my example [head.html](https://github.com/untra/polyglot/blob/site/_includes/head.html#L6)

[2016-04-29 22:28] untra commented on #20
Okay, you have a two pages named _imprint_, an english one and a german one. Please make sure they both share the same permalink: `/imprint/`

If the german page has a frontmatter with
[code]
the permalink on the page will double up.

[2016-04-30 09:30] cekageka commented on #20
You're right. Everything is fine with the url-parameter. The frontmatter is correct in my scenario, but if the url is not given the code seems to double the non-default alternate language tag. No idea why, but it's easy to reproduce. I will use an url, that's no problem.

But I have changed your code in i18n-headers.rb. I don't see a reason to double the url information form _config to any other l

[2016-04-30 13:51] MSchmidt commented on #14
I'm trying to use the new ``I18n_Headers`` helper of ``1.2.0`` and this issues seems to return with it.

This is what it creates when I'm on the ``/de`` path:
[code]

[2016-04-30 15:07] untra commented on #14
Check the permalinks on your pages.  Make sure they're identical on both the English and German pages.

[2016-04-30 15:38] MSchmidt commented on #14
Got it to work by adding an URL to the helper: ``{% I18n_Headers https://example.com/ %}``

[2016-04-30 15:44] untra commented on #14
Let me know if you're having other problems with the I18n_headers tag.  Other users reported problems with tags doubling up like the /de/de you mentioned.

[2016-04-30 15:44] #14 closed

[2016-04-30 16:03] untra commented on #20
That... does make more sense. Not every jekyll blog has a url parameter guarenteed, but it's a default field in the `_config.yml`, so why not?

I'll add that in as a default case when not specifying the url-parameter.

[2016-05-02 06:02] cekageka commented on #20
Thanks for your support and thanks for the great plugin.

[2016-05-09 02:35] veblush opened #21 "Disable `parallel_localization`"
Hello!

I want to disable `parallel_localization` but it seems impossible to turn it off in `_config.yml`.
[site.rb](https://github.com/untra/polyglot/blob/master/lib/jekyll/polyglot/patches/jekyll/site.rb#L11) has a configuration for this but it always gets `true` because of statement, ```config || true```

Please check this :smile: and thanks for your work!

[2016-05-09 02:50] untra commented on #21
You're totally right.  Good catch! false OR true is always true.  Rookie mistake, doh!

I'm on a trip at the moment. I'm away from my computer for the next few days (but I have a smartphone and Internet connection).  If you can make a pr with the right changes, I'll merge it in. :+1:

It won't update the gem though. I gotta figure out...

[2016-05-09 05:03] veblush commented on #21
Ok I made a [PR](https://github.com/untra/polyglot/pull/22).
It was the first time for me to write ruby code.

[2016-05-09 23:26] #21 closed

[2016-05-10 00:25] untra commented on #21
Thanks for your good code and PR! Contributing to open source projects is pretty exciting.  I really appreciate your help,  and I'll update the README with your username when I have computer access.

Cheers!

[2016-05-10 01:06] veblush commented on #21
Thanks! I also appreciate your great product and it was a good experience
to learn how jekyll and ruby work :).
Have a good trip!

On Tue, May 10, 2016 at 9:25 AM, Samuel Volin <notifications@github.com>
wrote:

[2016-05-12 23:06] ioab opened #24 "language-specific content & fallbacks"
Hi !
Thanks for the great help by making polyglot !

I'm wondering about a couple of things though:
- Shouldn't specific-language posts be kept for that language version only ?
  I mean, if I needed to write some post in language X, is there a way of hiding it from appearing in Y's language Index ?
  This snippet in index.html demonstrate the point:

[code]
- Right now, the fallback behavior appea

[2016-05-13 02:39] untra commented on #24
Other polyglot users have requested language-specific pages. I have various ideas on how to best implement it, but I want to ask how *you* expect it to work.

* a page specific to only a few languages should have another frontmatter option to limit what languages it builds for.  Something like:
[code]

[2016-05-13 04:07] ioab commented on #24
Yes, That's was my intention !
It's really just like you stated. Different takes, with trade-offs.
I had an idea about an extra bool tag "lang_specific", and of course, with that same thought:

😄
I see that option (1) requires more tracking, and duplicating the lang_list in different front-matters.
For example, if we added "fr" later, changes to "de", "es" posts would be needed.

Option (2) is the

[2016-05-14 16:32] jingjingzou commented on #24
I would like also to have language specific pages. For my case, option 2 will do :)

[2016-07-02 21:59] LDVSOFT opened #25 "How does polyglot works with generators, like Category index example one?"
Hello,

I am looking for using your awesome plugin, but before I start using it, I want to know how it actually works with generated indexes.

For example, take a look at example at Jekyll docs [here](https://jekyllrb.com/docs/plugins/#generators). Will `polyglot` run generator for different languages by itself, of will it just run it once (i.e., for default language)?

Looks like the plugin is mi

[2016-07-11 19:22] untra commented on #25
hey there!

Polyglot works not with `Jekyll::Generator` generators, but by forking the `Jekyll::Site.process` method for each language you need to build for. This means that each language has its own thread building it's fraction of the site. See [here](https://github.com/untra/polyglot#how-it-works) for more details.

I haven't explicitly tested polyglot with paginator, but I've gotten them worki

[2016-07-21 12:26] scgupta opened #26 "using jekyll uri_escape filter causes exception"
The uri_escape filter is explained at: https://jekyllrb.com/docs/templates/

Following code causes polygot to throw exception exception:

{% assign share_txt = (page.title | uri_escape ) %}

I figured out an alternative to avoid it, but it would be better for polygot to handle uri_escape filter gracefully.

{% assign share_txt = (page.title | escape('url') ) %}

Here is the exception
[code]

[2016-07-21 15:08] scgupta opened #27 "page with multi word permalinks doesn't get relativized"
I noticed that while posts with permalinks containing dash get relativized, but pages don't.

Here is a site I am developing: https://lutf-e-ghazal.gitlab.io/en/what-is-ghazal-definition/
It is in very prelim stage, so please ignore broken links, but it has enough to demo the issue I am facing. On that page, check out the menu and target URLs, and only root ("/") and Poets (/poets/) has been relat

[2016-07-21 20:09] untra commented on #27
Hi @scgupta !

This is the first time I've seen someone use polyglot for Hindi content. Neat!

I don't think long complex permalinks are a problem. I made a small change to the site to demonstrate [what I mean](http://polyglot.untra.io/a-really-long/permalink/). You can see all languages for this page have correctly parsed permalinks.

Try the following:
 * Rebuild the `_site` folder. This is wher

[2016-07-21 20:15] untra commented on #26
This is not a problem with polyglot, but with your file `_includes/socialshare.html`

You are getting that error because `page.title` is not defined. The error is thrown because it is trying to `gsub` on nil.

I hope this helps!
-@untra

[2016-07-22 03:17] scgupta commented on #26
Actually, it is defined. I verified it by spitting it out with {{ page.title }} and checking the generated html.

I even tested by modifying my template to pass it along in include as following:

{% include socialshare.html title=page.title %}

And this gives exception:
{% assign share_txt = (include.title | uri_escape ) %}

but this alternative works correctly:
{% assign share_txt = (include.titl

[2016-07-22 03:23] scgupta commented on #27
Really nice of you to put that example. Let me look at it. I did verify all the points you mentioned because I thought that I must be doing something silly or some typo.

[2016-07-22 13:50] scgupta commented on #27
Hi @untra,

I have absolutely no clue why it is happening. I looked a couple of times to see if I missed out any of the things you listed, but couldn't find any mistake. Most likely it something very silly or typo. I have checked in code in this site branch: https://github.com/lutf-e-ghazal/lutf-e-ghazal.github.io/tree/site If you have time, and can take a look to point out what is wrong, I will t

[2016-07-22 13:57] untra commented on #26
@scgupta

I edited your original comment to make the stacktrace easier to read. Lets follow it!
[code]
We know gsub is being called on nil somewhere, which is causing this to fail. But where?
[code]
But this tells us the error was rescued (caught) in [include.rb:132](https://github.com/jekyll/jekyll/blob/v3.1.2/lib/jekyll/tags/include.rb#L132). This also tells us the error is being thrown between

[2016-07-22 14:32] untra commented on #27
I see what you're saying now; you are right, there is a bug with long complex permalinks in the menu: starting from a [non default language](http://polyglot.untra.io/de/), the menu item for the complex permalink doesn't relativize. I think you're right; there is definitely a bug here. 🐞

Good find! I'll work on updating the regex and making a fix for 1.2.1 . I'll include you in the credits.

I'll

[2016-07-22 17:01] untra commented on #27
I pushed out a version 1.2.2 of polyglot just now, with a fix and a few more tests that should make sure things are all stable.

Please run `gem update jekyll-polyglot`, to get the latest version, and your headers should relativize. Let me know that it works.

Cheers!
@untra

[2016-07-22 22:57] scgupta commented on #26
Humm... I didn't think of that. That is a possibility 👍 Most indic script sites are using blogger, wordpress.

My knowledge of Jekyll, Ruby, Liquid is very superficial, I know whatever I had to, to get my site done :-) But I will try to dig.

Thanks for prompt help.

[2016-07-22 23:52] scgupta commented on #27
Hey @untra, that fixed the problem, so I am closing it. Thanks a lot for such a quick turn around!

[2016-07-22 23:52] #27 closed

[2016-07-23 03:25] scgupta commented on #26
I updated everything: Ruby (I was using 2.2), Jekyll (I was using 3.1.2), and all the gems. And now I am not able to reproduce it anymore. So I suspect that, either it was some mismatch of versions, or a bug in `include.rb` which has been already fixed. So I am closing this.

[2016-07-23 03:25] #26 closed

[2016-07-23 03:41] scgupta opened #29 "Feature request: either work with an existing jekyll sitemap plugin or generate sitemap"
Currently I am using [jekyll-sitemap](https://github.com/jekyll/jekyll-sitemap) for generating sitemap, see [example](https://github.com/lutf-e-ghazal/lutf-e-ghazal.github.io/tree/site). And polyglot helps generating sitemap.xml for default and other languages in their respective lang dirs. But the links in all generated sitemap.xml files are for default languages. So either there is some setting

[2016-07-23 03:46] scgupta commented on #24
I second the idea of having only language specific pages. #2 is fine, but there could generic pages (like home page, or the blog archive/list page), which has no language specific content, and has just Liquid code that generates it. When it runs for different lang, it generates appropriate listing (say /de/blog or /fr/blog ). Currently, I will just write (have yet to do, but I am guessing) blog.md

[2016-08-02 08:51] publicimageltd opened #30 "Relativizing the URLs yields error message"
I've added `jekyll polyglott` to my website (theme: minimal mistakes). When I build the site, I get an error message (output attached): [trace.txt](https://github.com/untra/polyglot/files/396178/trace.txt)

Another problem is that I even do not understand how I can check whether the mechanism for creating the urls works. My assumption is that, given I define the two languages "de" and "en" in `_co

[2016-08-02 16:41] untra commented on #30
[code]
The error you are getting is from the regex polyglot uses to relativize urls being malformed .This regex is generated from values specified in your `exclude_from_localization`.

Can you post the part of your _config.yml with your polyglot options? I think a string in your `exclude_from_localization` list is causing this error.

Thanks!
-@untra

[2016-08-03 09:44] publicimageltd commented on #30
Here is the relevant passage from `_config.yml`:

[code]

Thanks for the fast reaction!
**@pil**

[2016-08-04 16:56] untra commented on #30
Actually, I take that back; The relativized url regex is also formed from your `excludes` in your `_config.yml`.

From what the error message says, your excludes has
[code]
in it. I think Jekyll only recently began supporting wildcards in `_config` (yay! 😃 ), but the `*.` make for an invalid regex expression (boo! 😦 ), which is what causes this to fail.

I think this change in acceptable excluded

[2016-08-04 18:45] publicimageltd commented on #30
Yep! That's been it! Deleting the wildcards did the job. Thanks a lot! That was fast & accurate.

I encountered a new problem: Even though I have defined `de` as the default language, the cv page with `lang: de` in the front matter is mapped to the permalink `/en/cv.html`.

And you know what? Everything's correct if I swap the order of the languages in `config.yml`.

That's how it used to be:

[co

[2016-08-04 18:45] #30 closed

[2016-08-04 19:23] publicimageltd opened #31 "Could not configure localized pages"
I'm trying to set up a CV in both english and german. This is my `_config.yml`:

[code]

I have two files, `cv.md` and `cv_englisch.md`, which both have the appropriate language set in the front matter.

And this is the result:

Request | Jekyll server returns
----- | -----
http://127.0.0.1:4000/en/cv.html | The english page
http://127.0.0.1:4000/de/cv.html | Page not found
http://127.0.0.1:4000/c

[2016-08-05 15:11] untra commented on #31
This is actually how Polyglot is designed: the default language gets routes without a language prefix, while all other supported languages are accessible with their language prefix.

If your about page matches `/about`, then your english page is at `/en/about`. Because your `default_lang: "de"`, then the german about page is at `/about` instead of `/de/about`.

Does this help? Do you think `/de/ab

[2016-08-05 18:23] publicimageltd commented on #31
Thank you for the explanation. I actually expected it to build `de/about`as well as `about`, that's right. Maybe one could implement something like that as an option.

Thanks for the answer.
@pil

[2016-08-05 18:23] #31 closed

[2016-09-14 20:28] atomobianco commented on #20
Hi there!
Having the same problem, if using only `{% I18n_Headers %} doubles the language url segment.
I also tried {% I18n_Headers site.url %} but it does not work.

[2016-09-15 14:42] untra commented on #20
@atomobianco
I think I know what is going on with that tag: The standard relativization is applying itself after the `I18n_Headers` runs. If it doesn't see a url, it just leaves relative urls (`<a href="/about">`) instead of site urls (`<a href=http://polyglot.untra.io/about/`)

try using `{% I18n_Headers http://yoursite.com %}` instead.

[2016-09-15 21:14] atomobianco commented on #20
@untra
That works, but it forces to have the site url declare in different places. Maybe leveraging the `{% I18n_Headers site.url %}` could help having one place for all. Is this a feature that would be difficult to integrate?

[2016-09-15 22:02] untra commented on #20
yeah, I don't like it either :/
I am working on making a number of changes to the plugin, and I intend to update it with some new features I've been adding to support https://logrhythm.com . But more importantly, I'm waiting for [this PR to happen](https://github.com/jekyll/jekyll/pull/5344) within jekyll. This will give official parallel processing support to jekyll, which will define how polyglo

[2016-09-15 23:06] atomobianco commented on #20
pardon me, you want to add cyber threats support – that's what I understand from your link ..
I will see if I am able to do a Pr, but no promises ;)

[2016-09-22 18:51] kermorgant opened #33 "Feature request: ability to translate urls"
Woudn't it be a good thing if each translation of a page/post could have its url also translated ?
From what I've read, this would be better for search engine optimization.  I've tried a solution which is not perfect. Suppose that english is the default language, and I have a contact page translated in swedish

permalink: /kontakt/
lang: sv
ref: contact

I use the ref as a common denominator to ge

[2016-09-22 19:38] kermorgant commented on #33
Just a side note : maybe it would be a good idea to let the user decide if the langugage suffix is added to the permalink ?
Maybe it would sove my issue with "kontakt" appearing in the root folder, and it would also probably help mix this plugin with others, like jekyll-redirect-from (it uses the permalink in a page, and cannot guess the link will be prefixed by a language tag)

[2016-09-22 20:17] untra commented on #33
Hi @kermorgant!
Other people have asked for this feature. I intend to add it and [do a big update to polyglot soon](https://github.com/untra/polyglot/issues/20#issuecomment-247468114).

There are other big changes coming to Jekyll, including official support for parallelized builds. This is a feature that will define how future polyglot does it's parallelization, and will ideally provide a roadmap

[2016-10-06 10:55] bradonomics opened #34 "Blog Title Only in One Language"
In order to get the paginator to work I've created a directory called blog and added an index.html file inside that directory. That file gets duplicated for every language and pulls the posts for the appropriate language as it should, but there is only one title in the frontmatter for that index file.

I tried creating multiple index files with the index.[lang].html naming convention, but that did

[2016-10-06 14:59] untra commented on #34
Hi @bradonomics
You have to take advantage of your liquid tags. You can have in your `_config.yml`:
[code]
and then in your `_includes/head.html`:
[code]
This is a technique you will need to use for all rich content and short strings throughout your website. You'll see I do [something similar](https://github.com/untra/polyglot/blob/site/_config.yml#L18) for [polyglot.untra.io/](http://polyglot.unt

[2016-10-08 08:27] bradonomics commented on #34
I'm talking about the page title not the site title. I see how that's a little confusing after re-reading my post above

I have a static homepage, so the blog loop is in `blog/index.html`. That feeds into the `_layouts/default.html` file where the header is called. The `_includes/header.html` file has this: `<h1>{{ page.title }}</h1>`

Having only one `blog/index.html` file means only one set of f

[2016-10-10 23:42] untra commented on #34
If you only have one `blog/index.html` then you will only have one `{{ page.title }}` to use. That's just physics, y'know? The solution is to assign some frontmatter / liquid variable to a dictionary with keys matching your languages as I mentioned earlier. [Per the documentation](https://jekyllrb.com/docs/frontmatter/#custom-variables):

[code]

`titles` aren't mandatory, they're entirely optiona

[2016-10-11 02:27] bradonomics commented on #34
I tried adding the title array in the frontmatter of `blog/index.html` before, but it was all wonky. The output was plain text. I bet my mistake was the `assign` tag. I didn't add that. I bet that would get the expected output.

Unfortunately I've had to bail on the polyglot plugin for other compatibility reasons so I don't have an active repo to test this. I do appreciate your help and if I use t

[2016-10-11 02:27] #34 closed

[2016-10-11 10:25] kermorgant opened #35 "Feature request : handle multiple toplevel domains"
Hello !

I have a site in two languages (sv & en) for now, using your polyglot plugin, and it's very nice !

I'm going to make the french version soon, but I have to choose if I use the .fr toplevel domain I also own, or if I continue with polyglot. In fact, I haven't thought of it enough, but I suspect I'd use polyglot in both cases.

I'm prone to make use of the .fr domain, and for now, I think

[2016-10-11 15:03] untra commented on #35
Hi @kermorgant !
This is the second time someone has requested different domains for their sites. I'll keep it in mind. I'm taking a break from polyglot development for awhile, however I'll keep this use-case in mind for the next version I'll work on later.

Thanks for your input. Glad the plugin is working out well for you!
Cheers,
@untra

[2016-10-21 23:03] svoop opened #36 "Make the i18n_headers Liquid tag more useful"
Maybe I'm too blind to see, but it seems the `I18n_headers` Liquid tag cannot be used with variables and thus I have to hardcode the site URL – not very DRY since it's set in `_config.yml` already.

From the docs:

[code]

The problem with the above is that you can't pass in variables such as:

[code]

Any chance to get this changed to something like:

[code]

(In order not to break existing insta

[2016-10-24 15:06] untra commented on #36
[Other people have commented on this before](https://github.com/untra/polyglot/issues/20). I prefer other suggestions of just reading in the `url` from the `site` config, and having no parameters passed in.

`{% i18n_headers %}`

That said, I'm waiting for other work on the main Jekyll project to get completed before I continue any more work with polyglot. [This PR](https://github.com/jekyll/jekyl

[2016-10-29 22:27] espen opened #37 "Folder for each language"
This plugin looks very useful but I'm not a big fan of keeping all pages in the same directory (about.no.md). Preferably I want to have all Norwegian pages in /no/ and so on. It doesn't seem like this is configurable for pages while it is the case for posts? Would it be possible to implement this for pages?

[2016-10-30 16:35] untra commented on #37
Polyglot does support this! From the readme:

Organized names will generate consistent permalinks when the post is rendered, and polyglot will know to build separate language versions of the website using only the files with the correct lang variable in the front matter.

So if you want to put all your Norwegian pages in a `_pages/no/` folder that's fie. Just remember that you have to be organized

[2016-10-30 18:44] espen commented on #37
Awesome. I think perhaps this was an issue with me using `lang: no` and turns out YAML treats [no as false](https://makandracards.com/makandra/24809-yaml-keys-like-yes-or-no-evaluate-to-true-and-false). `lang: 'no'` works fine :)

[2016-10-30 18:44] #37 closed

[2016-11-06 14:06] asso1985 opened #38 "cannot load such file -- jekyll-polyglot"
cannot load such file -- jekyll-polyglot after bundle exec jekyll serve

[2016-11-06 14:14] asso1985 commented on #38
I've installed  gem install jekyll-polyglot but I'm stil getting the error on jekyll 3.2.1

[2016-11-07 10:10] espen commented on #38
You must specify it in your `Gemfile`:

[code]

[2016-11-08 19:51] #38 closed

[2016-11-09 13:18] sgroth opened #40 "NoMethodError for `relativize_urls`"
I am getting the following error, using Jekyll 3.3.0 and Polyglot 1.2.0:

`/Users/user/.rvm/gems/ruby-2.3.0/gems/jekyll-polyglot-1.2.2/lib/jekyll/polyglot/patches/jekyll/site.rb:120:in `relativize_urls`: undefined method `gsub!' for nil:NilClass (NoMethodError)`

Any idea what could be causing this?

Running --trace results in:

[code]

[2016-11-09 16:24] untra commented on #40
Full disclosure: I actually haven't tested polyglot with Jekyll 3.3.0 yet. It's fairly new.

The error is being thrown from [here](https://github.com/untra/polyglot/blob/master/lib/jekyll/polyglot/patches/jekyll/site.rb#L120). Relativize urls is being called on a document with a `null` output. Document output's should not be `null` when this hook is called. If the jekyll team changed things

Any c

[2016-11-14 17:36] vlsi opened #41 "Allow custom keys for "active language" site payload"
Currently polyglot assigns `site.active_lang` variable, however other plugins/themes might expect other key names.
For instance, minimal-mistakes expects site.locale: https://github.com/mmistakes/minimal-mistakes/blob/70c274ae56d3e07ec8cb18a35cebe101488ba53b/_layouts/default.html#L5

Would you mind making the set of keys with "current language" configurable?

[2016-11-14 17:51] vlsi opened #42 "Ability to translate URLs with domain name included"
URLs like `http://localhost:4000/page` do not get translated.
I wonder if polyglot could translate variations of links with `site.url` and `site.baseurl` included.

Here's the "offending" template: https://github.com/mmistakes/minimal-mistakes/blob/master/_includes/masthead.html#L12-L14

PS. Even though I think links without domain name would be better, it seems that there is just lots of template

[2016-11-18 14:23] PierreBongen opened #43 "Does not localise other collections than the "posts" collection."
Documents in `_posts` will be recognised by polyglot and copied to the `_site` directory into their corresponding language directories as expected:

- `_posts/2016-11-07-welcome-to-jekyll.en.markdown` → `_site/posts/welcome-to-jekyll/index.html` with contents of `2016-11-07-welcome-to-jekyll.en.markdown`
- `_posts/2016-11-07-welcome-to-jekyll.de.markdown` → `_site/de/posts/welcome-to-jekyll/index.

[2016-11-18 19:51] untra commented on #42
polyglot is only going to translate *relative* urls (`<a href="/about">`). It is designed not to attempt to translate absolute urls like `http://localhost:4000/page`. This is because absolute urls cannot be guaranteed to resolve to a site with a page whose layout matches polyglots `/i18n/page` structure.

Basically, after jekyll renders the html for the page it then does a regex match for all rela

[2016-11-18 19:51] #42 closed

[2016-11-18 19:55] untra commented on #43
I like this feature idea. Different collections are a newer Jekyll feature that Polyglot wasn't originally designed around, but should definitely provide implementation support. 👍

[2016-11-18 20:08] vlsi commented on #42
Well, how jekyll's `absolute_url` differs from the relative urls polyglot parses with regexp?
I think it is rather safe to translate those kind of links as well.
I do understand that polyglot uses regex match over final page. However I do not get why do you intentionally skip absolute URLs that point to the *current* blog. Any reason?

I'm using https://github.com/mmistakes/minimal-mistakes theme.

[2016-11-18 22:25] untra commented on #42
You can edit the minimal mistakes theme so it doesn't use absolute urls, which can solve the problem. You will have to change the liquid tags in a lot of files, but that's not a tough edit.
_Difficulty_: 2/10 trivially easy, some repetitive work.

Or you can edit the regex yourself to match `https` and `http` localhost urls, and submit a PR. [Here's the dynamically generated regex in question](htt

[2016-12-14 19:17] vlsi commented on #43
@PierreBongen , can you please check if #45 solves the issue for you?

[2016-12-14 19:28] vlsi opened #46 "Automatic substitution of `_data` yml files on a top level"
Current approach to multilingual `_data` relies on `site.data[site.active_lang].sample`.
That is not compatible with themes/plugins that just use `site.data.sample`.

Did you consider merging language-specific data into main `site.data` node?

[2016-12-20 23:33] #43 closed

[2016-12-23 20:52] #46 closed

[2016-12-24 20:04] untra commented on #36
With #48 you should be able to use the `{% I18n_Headers %}` tag as is, and it will default to the `site.url`. You can see this in effect live on the [polyglot website](http://polyglot.untra.io/), with [the source code here](https://github.com/untra/polyglot/blob/master/site/_includes/head.html#L6).

Cheers!

[2016-12-24 20:04] #36 closed

[2016-12-24 20:04] #40 closed

[2017-02-16 23:03] hetsketch opened #50 "fork() function is unimplemented on this machine"
I've install `jekyll-polyglot` using bundle and got this error while execute `jekyll serve`
<pre>
C:/tools/ruby23/lib/ruby/gems/2.3.0/gems/jekyll-polyglot-1.2.4/lib/jekyll/polyglot/patches/jekyll/site.rb:23:in `fork': fork() function is unimplemented on this machine (NotImplementedE
        from C:/tools/ruby23/lib/ruby/gems/2.3.0/gems/jekyll-polyglot-1.2.4/lib/jekyll/polyglot/patches/jekyll/site.

[2017-02-16 23:09] untra commented on #50
see [Compatability](https://github.com/untra/polyglot#compatibility)

[2017-02-17 07:43] hetsketch commented on #50
@untra thanks! Sorry for being inattentive

[2017-02-20 16:45] MadsMadsDk opened #51 "Linking to another language-version of a page"
Hello @untra!

Thank you for writing a cool plugin for jekyll, it's very useful. I have a question regarding linking to another language-version of a page.

I tried following your example of creating language-links in the sidebar, but with slight modifications as I only have two languages for now.

**The case**

I have two languages. English (default) and danish. In my navigation file, which is in

[2017-02-20 16:53] #50 closed

[2017-02-20 17:45] untra commented on #51
Hi @MadsMadsDk!

Check out [how I do the language navigation](https://github.com/untra/polyglot/blob/master/site/_includes/sidebar.html#L40) in the example polyglot website:
[code]

Ideally you shouldn't have two different `nav.html files`, you should have just one and make it work for both of your languages. That would be my first suggestion.

Your `_site/da/cookie-policy/index.html` page has the

[2017-02-21 08:30] MadsMadsDk commented on #51
Thanks for your swift response!

I can see how it would make sense to only have one `nav.html` file, and then translate the link strings. I'll work on that once I need to support more languages.

For now, it works perfectly with two files and adding a space after `href="`!

Thanks a lot for you help,
Mads

[2017-02-21 08:30] #51 closed

[2017-02-21 16:26] #25 closed

[2017-03-02 17:01] IvanDuch opened #52 "How to have different indexes for each languages?"
Thanks for the great job. I'm really new to Jekyll and Ruby so this might be the dumbest question ever. But I need to have a specific title, description and some changes for the nav bar in the /es/index.html.

I tried messing around with if statements but didn't find a way to have that change for that particular index.

In your example you only use a index.md file, there's no way to create two ind

[2017-03-02 17:14] vlsi commented on #52
@IvanDuch ,
There are multiple ways of doing that.

1) Use index.en.md, index.ru.md, etc file names (I'm not sure if `lang: en` is required, however I add it for clarity)
Here's a sample: https://github.com/Hardella/site/tree/master/_pages

2) You can use whatever file name you want and add `permalink: /docs/introduction/` (sometimes it makes sense to isolate certain language into its own subfolde

[2017-03-02 17:25] IvanDuch commented on #52
Thanks a lot vlsi!

I just was returning to the forum because I found an alternative solution using the
% if site.active_lang == 'en' %} statment. I was able to do all I needed. I'm trying your suggestion right now which seems to be way simpler.

[2017-03-02 17:31] vlsi commented on #52
The only place I use `if ...` is to the one that prints language selectors (see https://github.com/Hardella/site/blob/master/_includes/masthead.html#L8-L20 )

[2017-03-02 17:39] #52 closed

[2017-03-02 17:39] IvanDuch commented on #52
Thanks!

[2017-03-29 02:38] niij commented on #20
I am having the same issue.  When using `{% I18n_Headers https://fullpathtomy.website/ %}` the headers work perfectly, which is my current fix.  When I just do `{% I18n_Headers %}` the language doubles up and it gives relative URL's, just like @cekageka is experiencing.  For reference, my url is set in my _config.yml

[2017-03-31 17:20] teresacamachohull opened #53 "posts archive showing all languages?"
hi! thanks for this great plugin - i got it to work for the sidebar and individual pages, no problem. where i'm a having a problem is with the posts. i am displaying all the posts not on the main index page but on a separate page called 'news', with the following code:

[code]

this causes all the posts to show up, be they in english or spanish. how can i make it so that only the english (default

[2017-03-31 17:44] untra commented on #53
I don't have an environment to test this solution out for correctness at the moment, but off of the top of my head:
[code]
this uses a [liquid filter](https://jekyllrb.com/docs/templates/#filters) to only pull posts with the `lang` frontmatter set to the current `site.active_lang`

Does that work?

[2017-03-31 19:15] vlsi commented on #53
@teresacamachohull , by default collections are localized, so `site.posts` should contain posts for a specific language only.
This works provided the pages share the same permalink (see https://github.com/untra/polyglot/blob/fc8d30e1b92fbbac02fd0cf93812bec2c439c21c/lib/jekyll/polyglot/patches/jekyll/site.rb#L80 )
In case links are different there should be some way to tell which page is "english-o

[2017-04-01 00:48] teresacamachohull commented on #53
thanks for the responses!

@untra i tried what you suggested, and nothing.

@vlsa, i think i understand what you're saying but `sites.post` is what i have for the posts archive page and the language switch still isn't working.

the weird thing is i got the pages working fine, and the sidebar. as far as i can tell i have the posts labeled the same with the only difference being the language marker

[2017-04-01 01:57] teresacamachohull commented on #53
ok, now it works!

i'm not exactly sure what i did that fixed it, but for sure the pages i was naming pagname.es.md and the posts i was naming yyyy-mm-dd-postname-es.md, so maybe changing that  hyphen to a dot so they were all the same did it? also, the /news/ page where i was listing all the posts didn't have a permalink or language declared in the yaml, so maybe that was it.

anyhow, looking goo

[2017-04-01 02:53] teresacamachohull commented on #53
sorry - back again. is there something about githubpages that won't let this plugin work? when i build the site locally, it loads great, but then i push it to my github repository, view it at its domain ([mtcharte.net](http://mtcharte.net)) and not only is it doubling up the pages on the sidebar (which it doesn't do locally) but it's also not switching languages at all for either pages or posts.

[2017-04-01 08:07] vlsi commented on #53
@teresacamachohull , GitHub pages allows only certain plugins (see https://github.com/github/pages-gem/blob/master/lib/github-pages/plugins.rb#L7-L38https://github.com/github/pages-gem/blob/master/lib/github-pages/plugins.rb#L7-L38 ), so polyglot is not available there.

On the other hand, you can use Travis to build the site and update gh-pages branch.

[2017-04-02 00:22] teresacamachohull commented on #53
@vlsi thank you - like i said, i am new to all of this! but i did get Travis working finally tonight and the plugin works beautifully! thanks so much for your help and patience. ;)

[2017-04-02 00:22] #53 closed

[2017-04-09 17:44] aensidhe commented on #29
I would like to see correct sitemap.xml too.

[2017-04-29 01:40] untra opened #54 "polyglot 2.0"
## :new: polyglot 2.0

### Feature: `Pages-Gem` whitelisting
[ x ] [ Make an issue in the pages-gem](https://github.com/github/pages-gem/issues/438)
[ ] Identify requirements
...

### Testing
[ ] Update Travis for multiple ruby / jekyll versions
[ ] Additional Test Coverage

### Documentation:
[ ] Update the Website
[ ] Examples of non-western languages for the website

[2017-05-14 09:54] geokhoury opened #55 "undefined method `each' for nil:NilClass using Jekyll 3.3.1 and Polyglot 1.2.4"
I am having an issue with Polyglot with Jekyll 3.3.1.

I keep getting the "`document_url_regex': undefined method `each' for nil:NilClass" when I run jekyll doctor. Sometimes I also get it with jekyll build or jekyll serve.

I don't understand what is going on, and have tried running jekyll doctor with --trace. Below is the output.

[code]

[2017-05-15 05:28] untra commented on #55
The error is coming from [here](https://github.com/untra/polyglot/blob/master/lib/jekyll/polyglot/patches/jekyll/site.rb#L100), and is purportedly because the `languages` config is somehow nil. Not sure how that can happen. 😕

Make sure you are on the latest of all gems for your project. Share with me your `_config.yml` polyglot specific configurations. You're not redefining the `languages` site v

[2017-05-19 12:09] geokhoury commented on #55
That is exactly where I traced the issue to but I still couldn't figure it out.

My _config.yml has the following section for Polyglot.

# Polyglot configuration for i18n.
languages: ["en", "de", "fr"]
default_lang: "en"
exclude_from_localizations: ["_assets", "grunt", "vendor", "node_modules", "_site"]

I am not defining languages anywhere but in the _config.yml. Most of my gems are up-to-date, b

[2017-05-23 20:11] ShawnTeoh opened #56 "Polyglot SEO Issue"
Taking the Polyglot project page as example, the tags work fine in the [main page](http://polyglot.untra.io/) with default langauge:
[code]

But when swapping to another [language](http://polyglot.untra.io/de/), it becomes:
[code]
The "nested" links obviously do not exist, and the link for en is wrong.

[2017-05-23 20:15] ShawnTeoh opened #57 "Unnecessary URL Conversion"
Let's say I have a link like `/about`, it gets translated (e.g. `/es/about`). But if I use a link like `//fonts.googleapis.com/css?family=Lato` for CDN, it also gets translated to `/es//fonts.googleapis.com/css?family=Lato`. Could this behaviour be avoided? Thank you.

[2017-05-24 04:55] ShawnTeoh commented on #56
Using workaround mentioned in #20

[2017-05-24 04:55] #56 closed

[2017-06-22 00:39] pserwylo opened #58 "Partially translated data files render blank instead of default language."
When a data file is completely missing for a specific language, this plugin correctly falls back gracefully to the default language. However when only some of the strings are translated, then a blank value is rendered. Here is an example, where `es` falls back to English, but `fr` does not:

![screenshot](https://user-images.githubusercontent.com/248565/27412223-8bd34436-5736-11e7-84d9-c634295dff1

[2017-06-26 21:17] pserwylo opened #60 "Option to write the default locale to a subdirectory also."
**Problem**

The webserver should be able to render the appropriate language based on the clients `Accept-Language` header. This is difficult when the `default_lang` from polyglot renders directly to the webroot, rather than a `LANG/` subdirectory.

**Case study**

We are currently internationalizing the [F-Droid website](http://fdroid.gitlab.io/fdroid-website/) using polyglot. After chatting to t

[2017-06-26 21:42] vlsi commented on #57
@ShawnTeoh , does `exclude: [regex1, regex2, ...]` answer your question?
See https://github.com/untra/polyglot/blob/master/site/_config.yml#L36

On the other hand, `/es//whatever.com/...` is a strange url

[2017-06-26 22:43] willsu opened #61 "Solution for images localization?"
First of all, thank you for the very helpful Gem.

I have a documentation project that requires the images to be localized as well as the `*.md` documents.

My desired pattern would be the following files would be processed the same way that the markdown documents:
[code]

My desired result (`dist` is my build directory):
[code]

My actual result:
[code]

Is image and/or static asset localization

[2017-06-27 05:32] untra commented on #41
@vlsi  still interested in this feature?

[2017-06-27 05:38] untra commented on #60
Using that workaround, do you notice any problems? The way polyglot is designed, `default_lang` is never modified, and is used specifically to make the default locale exist at the `_site` webroot instead of in a subdirectory.

I would suggest you keep using that workaround. It makes sense to me that it gets the job done effectively.

[2017-06-27 05:39] #24 closed

[2017-06-27 05:44] pserwylo commented on #60
I haven't had any problems with it yet to be honest, just felt a bit hackey. However, happy for you to close this, and at least people can search and perhaps find this issue if they want to figure out more about using Content Negotiation with polyglot.

[2017-06-27 05:46] pserwylo commented on #60
In the future if our script that writes out typemaps becomes unmaintainable, I might see about submitting a PR which includes a config option to generate Apache2 mod_negotiation TypeMaps in the webroot. But that is a story for another day and out of scope of this issue.

[2017-06-28 15:01] #58 closed

[2017-06-28 15:03] untra commented on #60
I hope this solution continues to work out. It's a very smart approach that I want to look into more, and see where else it can be leveraged.

[2017-07-02 10:58] geokhoury commented on #55
@untra I'm still having this issue, any ideas?

Configuration file: _config.yml
       Destination: test
 Incremental build: disabled. Enable with --incremental
      Generating...
bundler: failed to load command: jekyll (/builds/vendor/ruby/2.4.0/bin/jekyll)
NoMethodError: undefined method `-' for nil:NilClass
  /builds/vendor/ruby/2.4.0/gems/jekyll-polyglot-1.2.4/lib/jekyll/polyglot

The first l

[2017-07-14 08:47] sweisgerber-dev opened #63 "Feature Request: Allow Disabling of post/page translation for single post/page and exlcude them from other language-sites."
Add a flag to disable translation / fallback of a specific post or page, so that it only is shown on the language specific pages, but not as foreign language on other sites.

This enables the user to write a post e.g. in `lang: de`, which doesn't even show up in the post-list of all other languages.

E.g. introduce new frontmatter like: `lang-exclusive: <i18n LANGUAGE>`  keyword that exclusively l

[2017-07-14 20:18] untra commented on #61
Polyglot is not designed to localize media or other assets. This is not part of it's functionality, and probably will not be added in.

However I think you can achieve this same functionality with some crafty liquid tags. When displaying your image, you can embed the liquid variables into the tag name like so:
[code]
assuming you mark your english `default_lang` images with an `.en.png` suffix, th

[2017-07-14 20:18] #61 closed

[2017-07-14 20:52] untra commented on #55
@geokhoury [site.rb line 12](https://github.com/untra/polyglot/blob/master/lib/jekyll/polyglot/patches/jekyll/site.rb#L12)

`NoMethodError: undefined method `-' for nil:NilClass` that is saying `languages` is being set to nil. (which is what I understood from the stacktrace you shared earlier). I'm not sure how that's happening, especially given that your `_config.yaml` looks to be properly set, a

[2017-07-14 20:54] untra commented on #55
Also a thought: are you using any other plugins with Jekyll that overwrite operations in `site.rb`? That might cause other issues such as poisoning the `languages`

[2017-07-16 19:51] ugurcanlacin opened #64 "Plugin does not work on Github pages"
Hi,
Thank you for sharing this great plugin!
I installed it on my local and saw that it works nice. However, when I push the project to my github repository. Plugin does not work.  It is probably Github does not allow to run the plugin. After little research, I have seen this issue opened by you
https://github.com/github/pages-gem/issues/438

What is the last situation? will polygot be whitelisted

[2017-07-16 20:15] untra commented on #64
I was informed I should [send a support request](https://github.com/github/pages-gem/issues/438#issuecomment-308125256) to github. I sent this message:

Please consider reviewing some of the existing multi-language plugins for whitelisting. If none of them seem satisfactory, please consider developing an official plugin that developers can use with the pages-gem.
A short list of quality existing m

[2017-07-16 20:18] ugurcanlacin commented on #64
Thank you for your response.
I will be waiting for it! I hope it will not take log

[2017-07-17 09:55] niij commented on #20
@untra I just wanted to point out that this is happening on the demo site for this plugin, too.  [Here](http://polyglot.untra.io/fr/)

![image](https://user-images.githubusercontent.com/16074300/28263380-85bf31fa-6b21-11e7-8909-138dc04355e6.png)

[2017-07-17 18:36] untra commented on #64
Thanks for writing in! I can definitely see how enabling these plugins would be useful. I can't make any promises, but I'll let the team know that you'd like to see us allow for these in the future. Please let us know if there's anything else we can do for you in the meantime.
All the best,
Nick
@ nickcannariato GitHub Support

[2017-07-17 19:45] ugurcanlacin commented on #64
At least they considered the request. After this, we can just wait for it. Thank you for your time. Issue can be closed.

[2017-07-17 19:45] #64 closed

[2017-07-17 23:38] pserwylo commented on #60
Okay, so after continuing experimentation with our site, I've come across a bit of a blocker for the approach I outlined above. If I mark a file/directory as `exclude_from_localization: ...`, then under normal circumstances, it would get written to the (non-localized) root of the Jekyll site. However when I have no meaningful `default_lang:` then it doesn't have a directory to write it to. I would

[2017-07-17 23:44] pserwylo commented on #60
Hmm, now I think about it, perhaps this would work:

 * `process_active_lang` should still `@exclude += @exclude_from_localization` as it does not.
 * The outer `process` method (which iterates over `@languages`) can:
   * Check if `default_lang` is present in the available `@languages` or not.
   * If so, don't do anything special, because the `process_orig` will correctly output the stuff from `

[2017-07-18 06:40] untra commented on #60
How does #65 look? If you can, please clone down the polyglot repo and switch to the branch, and run the `make.sh` script to install the latest 1.3.0 build. That should now build `exclude_from_localization` directories into your site root :+1:

[2017-07-19 03:34] pserwylo commented on #60
That works a treat. Thanks very much for the quick response and fix.

[2017-07-22 18:16] vlsi commented on #41
@untra , I am. In fact, I am using that in my own branch of polyglot.

I can elaborate on tests/documentation if you thing #68 is worth merging in.

[2017-07-23 13:15] #41 closed

[2017-07-23 14:58] untra commented on #60
#65 has been merged in, and the feature is now available in polyglot v1.3.0.

Thanks for your help @pserwylo making this release happen! I left your name in the credits on [the polyglot website](http://polyglot.untra.io/2017/07/23/Polyglot-1.3.0/). Cheers!

[2017-07-23 14:58] #60 closed

[2017-07-23 14:59] untra commented on #20
This looks to be fixed now (finally!) in the v1.3.0 release of polyglot. Check it out.
closing this issue now. Cheers!

[2017-07-23 14:59] #20 closed

[2017-07-23 15:01] untra commented on #55
We put out the v 1.3.0 release of polyglot. Please give that a try, and let us know if you're still having problems.
Cheers!

[2017-08-10 15:25] rriemann commented on #33
Is this now possible? The docs state that permalink must be provided always.

[2017-08-10 15:33] untra commented on #33
No, it's  currently not available. The permalink must remain the same across related translated pages.

[2017-08-14 10:33] rriemann opened #70 "document filters: absolute_url and relative_url"
Hey, some jekyll themes use:

    {{ "/docs/assets/" | relative_url }} => /myproject/docs/assets
    {{ "/docs/assets/" | absolute_url }} => https://jekyllrb.com/myproject/docs/assets

Is this supported? It would be nice to have a remark on this in the docs.

[2017-08-14 18:02] untra commented on #70
If used on a language page, both filters will then be relativized for that language. This is always the rule.

For example, used on a non-default french (`fr`) site, the content becomes:
[code]

If you want tyo use these filters without the language relativizing, you can prepend a space to the url.
[code]

I hope this helps!

[2017-08-20 10:34] hannesaasamets opened #71 "files in collections not translated without permalinks"
I'm running into an issue where files with similar names, placed in the same collections folder, are not translated. The files differ by the language code suffix:

_recipes/2010-03-01-salad-recipes-en.md
_recipes/2010-03-01-salad-recipes-fr.md

The files do get translated if provided a permalink in the YAML front matter, but my question is what could be the reason for polyglot to ignore the correc

[2017-08-24 13:19] cntlsn opened #72 "add a translation key in page front matter"
Hello, I'm trying to find a way to add a translation key to the front matter of a page, so that for instance by using the same template I can have different page titles in different pages (the page title being provided in the page itself as a variable in the front matter via a dictionary key).

Basically I'm trying to do what's described here https://github.com/Anthony-Gaudino/jekyll-multiple-lang

[2017-08-26 17:21] untra commented on #72
When you set your frontmatter to `title: titles.home`, it tries to resolve `titles.home` to a variable. That won't succeed though, and so the title frontmatter is just set to a string `"titles.home"`

I think #34 will solve your issue, but you have to get crafty. Take a look at these two files in the example polyglot website:

https://raw.githubusercontent.com/untra/polyglot/blob/master/site/_data

[2017-08-26 17:46] untra commented on #71
In general, if you do not assign a permalink, _polyglot will assign one for you_. If the files are not being translated appropriately when they lack a permalink, that can be a problem on my part.

Do you have a repo setup I can look at to help you debug? Are you remembering to set the `lang:` frontmatter?

[2017-08-29 12:03] hannesaasamets commented on #71
Yes, the lang: is always set. When I remove the permalink for apparently similar files (that differ by the suffix of the language separated with a dash) then both of the files ared rendered in the folders of both languages.

Atm it is not possible for me to provide access to a sample.

[2017-08-31 10:18] cntlsn commented on #72
Hi Untra thanks a lot for your feedback!
I've tried what you suggested, but unfortunately it will again show the string `"site.data["lang"]["titles"]["home"]"` in my page title and not the corresponding dictionary key.

I have the feeling the frontmatter is always passing a string in the title field.

~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

For instance

[2017-09-01 11:46] cntlsn commented on #72
I have found a workaround.

By adding to my `_config.yml`
[code]
and to my `_include/head.html`
[code]
and to my `blog/index.html`
[code]
That seems to do the job.

Still I didn't manage to find a way to store all the page titles in the `lang.yml` file and passing them to the frontmatters of the pages, instead of declaring the page title in the page file itself...

Anyway, one last question:
In my

[2017-09-01 12:26] karls opened #73 "I18n_Headers attribute question"
Hi @untra,

Thanks for the plugin!

Maybe this is the wrong place to ask this, but why does the `{% I18n_Headers %}` code output `<link>` tags with an `i18n` attribute? I was reading the Google regional URLs support page[1] and it instructs to add something like
```<link rel="alternate" href="http://example.com/en-ie" hreflang="en-ie" />```

Note how the attribute name for the language value is `h

[2017-09-01 14:46] untra commented on #73
👍 👍 👍
Good catch! Thats a bug. Fix will be in #74

Cheers,
untra

[2017-09-01 18:47] karls commented on #73
Excellent! Thanks! 💪

Sent from my phone.
Tervitades/Regards,
Karl Sutt

On 1 Sep 2017, 15:46 +0100, Samuel Volin <notifications@github.com>, wrote:

[2017-09-02 14:33] untra commented on #73
this should now be fixed in [v1.3.1](https://rubygems.org/gems/jekyll-polyglot/versions/1.3.1) . Thanks for your good eyes!

[2017-09-03 14:54] karls commented on #73
Yep, updated the gem and it's fixed! Thanks resolving this so quickly. 👍

[2017-09-03 14:54] #73 closed

[2017-09-04 15:21] cntlsn opened #75 "site translation broken after pushing to gh-pages"
Hi Untra,

After merging my `polyglot` branch to `gh-pages` the site is not able to display all the translated strings, nor in default or `/en/` language.
Actually, when trying to reach the not-default `website.com/en/` I get a 404
You can check the website [here](https://opencarecc.github.io/rampette/)

So far I have tried to:
- remove the CNAME
- remove the `data_dir: ./_data` and `destination:

[2017-09-04 15:24] cntlsn commented on #75
Alright, I just saw this issue https://github.com/untra/polyglot/issues/64
:(

Any news on this?

[2017-09-04 18:19] untra commented on #75
Unfortunately until we can get a multi languages plugin whitelisted, you cannot use polyglot with GitHub pages. Sorry 😅

However I am starting work on version 2.0.0, which I hope to get whitelisted in the future. Currently looking at these threads:
https://github.com/github/pages-gem/issues/401#issuecomment-325578751

If you leave this issue open I'll keep you updated 👍
Cheers,
Samuel Volin

[2017-09-05 08:22] cntlsn commented on #75
Thanks Untra, I have thumbed-up your requests to maybe raise some attention on the topic.

I will leave the issue open so I can get updates sure.
But may I suggest to highlight on the readme that the plugin is not whitelisted?
I think it would be very convenient for people to know that in advance before spending hours on it, like I just did ;)

Thank you for your work, I hope it will get whitelist

[2017-09-25 15:20] bernardomed opened #76 "How do I make the default language to have a subfolder as well."
For SEO purposes, I need the all the languages on the website to have its own folder so instead of the default structure:

[code]
This folder structure is generated
[code]
I need the folder structure to be like this:

[code]

I know it might sound like a dumb question but I just found your plugin.

Thanks,

[2017-09-25 15:42] untra commented on #76
Hi @bernardomed 👋
In your config.yml, try this setup:

[code]

this will trick polyglot into not choosing a defined default_lang. Other users have setup polyglot this way with good results. All of the languages will get their own folder, and things should still build, but you might loose some fallback content. Does that get the job done?

Cheers,
Samuel Volin

[2017-09-25 21:11] sxmichaels opened #77 "Falling back to a non-default language"
I have a bit of an unusual situation to deal with regarding fallback languages. As far as I know, this is not possible in vanilla Polyglot, but I wonder if there are any workarounds that would allow me to implement this. My use case is as follows:

My website supports three languages: English, Simplified Chinese, and Traditional Chinese. The latter two are actually the same language, just written

[2017-09-25 21:24] untra commented on #77
Hi @sxmichaels 👋
Ummm... This is definitely a trickier situation. Polyglot is built around the assumption that there is only one default language to fallback to. The pattern you're describing is currently not available with the current version of polyglot.

I'm currently working on a 2.0 branch of polyglot. I'll keep your use-case in mind for that release.
Cheers,
untra

[2017-09-25 22:44] pserwylo commented on #77
This is not such an unusual situation. Most translation systems will use `language-REGION` codes.

Given the following:
 * `fr_FR`
 * `fr_CA`
 * `fr`
 * `en_US`
 * `en`

You'd probably expect a user asking for `fr_FR` to fall back to `fr` when not available, and to `en` when `fr` is unavailable. It gets a bit trickier when you say the following is avaialble:

 * `fr_FR`
 * `fr_CA`
 * `en`

(which

[2017-09-26 10:36] vlsi commented on #77
^^^ be careful. The sources above are AGPL-licensed.

[2017-09-26 12:49] pserwylo commented on #77
@vlsi - Thanks, I appreciate the caution. Our [plugin](https://gitlab.com/fdroid/jekyll-fdroid/blob/master/LICENSE) (and indeed the [website](https://gitlab.com/fdroid/fdroid-website/blob/master/LICENSE) we are building using Jekyll) is also AGPL licensed, so all is well on our end.

[2017-09-26 13:17] bernardomed commented on #76
Hi @untra,

Thanks for the quick reply. I thought on doing that first but was afraid it would break something.

Thanks for your help and for this awesome plugin.

Kind regards,
Bernardo

[2017-09-26 14:10] vlsi commented on #77
My main idea was AGPL is not compatible with plolyglot's license, so care should be taken for not watching into AGPL code before implementing similar for polyglot )

[2017-09-26 16:47] untra commented on #76
Nice, glad to hear this works 👍
Feel free to open a new issue if you have any further questions.

[2017-09-26 16:47] #76 closed

[2017-09-28 07:38] sxmichaels commented on #77
Thanks for the quick responses, everyone. I suspected it wasn't possible in current polyglot but I'm glad support might be forthcoming. Later on I might try to implement something like pserwylo's solution in a polyglot fork; if I'm confident enough in my code I'll put up a PR for it.

I'll close this issue for now.

[2017-09-28 07:38] #77 closed

[2017-09-28 21:46] eighthave opened #78 "parallel_localization launches one process per language, overwhelming build machines"
parallel_localization launches one process per language, in parallel, regardless of how many available cores the current machine has.  So for https://f-droid.org, we support 8 languages, and it launches 8 parallel processes on out CI/CD builds.  CI builds are virtualized, so they are rarely more than 1-2 cores.  Running 8 processes on 1 core drags the whole thing down.

Instead, it should check ho

[2017-09-28 21:46] eighthave commented on #78
I should add: we were building with 11 languages, and it took 500 minutes to build.  With 8 languages, it is around 100 minutes.

[2017-09-28 21:57] untra commented on #78
Hi @eighthave 👋

So parallel builds will be removed in version 2.0. You can turn it off now by setting `parallel_localization: false` in your `_config.yml`. That will ensure builds are run in serial instead. Have you tried using that?

[2017-09-29 07:35] eighthave commented on #78
yup, turning it off helped a lot.  It would be cool if it could utilize
all available cores.  Our CI systems are 1-2 core, but our deploy system
is 8 cores.  We've built a huge site, maybe 15,000 pages?  It takes an
hour to build, so speeding up the deploy would be nice.  On that
machine, parallel_localization is quite useful.

Here's the staging version of the site with polyglot:

https://fdroid.

[2017-09-29 15:52] untra commented on #78
Hmm... it looks like you'll want to turn the `parallel_builds` on for your production build, and turned off for your CI system.

Native Parallel Jekyll builds [was a considered feature about a year ago](https://github.com/jekyll/jekyll/pull/5344). It has since been abandoned because- well, ruby.

Polyglot parallel builds are actually just naive forks. This means it has never worked for windows mac

[2017-09-29 19:12] eighthave commented on #78
Our site fits the description of a site that is the same except for the
language.

sure, include our site on your list :)

[2017-09-29 23:40] basementcz commented on #75
Have the same problem :(

[2017-09-30 14:57] vlsi commented on #78
Does it really take you 10 hours to build?

I can build it in a couple of minutes (5 core, 2.6GHz Macbook).
Here's what I get:
[code]

@eighthave , what do you think?

The main time consumers for f-droid website are:
1) `fdroid-website/_plugins/git-tag-tag.rb`
It executes `git().describe(...)` again and again, and I believe git revision does not change during the build.

[code]
2) The same thing f

[2017-09-30 16:58] basementcz commented on #75
@cntlsn I migrated my github pages to gitlab page and it is possible to use polyglot there.

[2017-10-02 09:31] eighthave commented on #78
Yes, it was taking literally ~6 hours to run.  A big part of that was that its running on CI VMs that have 2gigs of RAM, and when it launched 11 parallel jobs, that requires ~4gigs of RAM.  That scenario always results in things running really slowly.

@pserwylo see above :)

[2017-10-02 21:34] pserwylo commented on #78
Thanks @untra + @vlsi, really appreciate the insight.

This has indeed been resolved in as much as our build now takes a reasonable amount of time (e.g. 2mins on my new ThinkPad with a Core i7-7700 (4 cores with hyperthreading) + 16GiB of RAM).

Having said that, I think adding an option for "Max processes" would still be a good feature to add to the config, because that dev machine was completely

[2017-10-03 08:04] cntlsn commented on #75
hi @basementcz thx for your input, I will have a look.
I couldn't move my repo from github so I created a manual way to handle translations by following/hacking this approach: https://www.sylvaindurand.org/making-jekyll-multilingual/

[2017-10-04 16:03] eighthave opened #79 "exclude_from_localization fails with files, only works for dirs"
We have this in https://f-droid.org (staging https://fdroid.gitlab.io/fdroid-website and https://testy.at.or.at).  We have this in our __config.yml_:
[code]

This works fine for _assets_, _css_, and _wp-content_ which are all dirs that are part of the Jekyll project.  It also works fine for _archive_, _repo_, and _wiki_ which are not part of the Jekyll project, but are dirs provided on the same se

[2017-10-24 22:42] derpoho opened #80 "Incompatible with jekyll-livereload?"
Hello,

since installing the polyglot bundle (nice work btw) livereload stopped working.
I used jekyll-livereload (https://github.com/RobertDeRose/jekyll-livereload).

Is this a known issue? I couldn't find anything.

I am new to Jekyll and it's process, but i guess it has something to do with the patching: https://github.com/RobertDeRose/jekyll-livereload/blob/master/lib/jekyll-livereload/serve.r

[2017-10-24 23:15] untra commented on #80
I have not tested polyglot with jekyll livereload, but from the way it operates I am not surprised you are having problems. Polyglot also does it's own "monkey-patching" to get things done before the serve command.

You can try setting `parallel_localization: false` in the `_config.yml`. That may fix the bad behaviour, but in all likelihood the problem comes from those modifications to `Site.proce

[2017-10-25 15:25] BeMrTeal opened #81 "Localising the default layout"
This is more a question than an issue.

How would I localise the default layout in order to have my includes in different languages?

I managed to get my menu to dynamically sort the language with this liquid code:

[code]

but I wasn't able to get my default layout to pick the includes accordingly to the `site.active_language` any suggestion?

Cheers

[2017-10-30 11:00] bernardomed commented on #81
I see that in the [LogRhythm](https://logrhythm.com/) website you have subdomains for languages but how do you build the home pages in different languages?
Do you have a different layout for each language?
How did you set it so you can have Jekyll to build it?

I'd love to have a tip on how to do that for my site.

[2017-10-30 14:39] untra commented on #81
Hey @bernardomed,

So I cannot tell you how the Logrhythm website does it's full layout. In fact they made recent changes that I was not involved in. I'm not sure how they recently setup the language subdomains, so I cannot help you with that.

I can tell you how the [example polyglot website](http://polyglot.untra.io/) works. In fact, it's source code [is included](https://github.com/untra/polygl

[2017-10-30 15:48] bernardomed commented on #81
Thanks mate, I'll give it a try.

![bitmoji](https://render.bitstrips.com/v2/cpanel/9990876-262123361_1-s4-v1.png?transparent=1&palette=1&width=246)

[2017-10-31 09:53] derpoho commented on #80
@untra Thanks for the suggestion, setting the `parallel_localization` to `false` solves this. But i wonder if there are any sideeffects. Can't see anything currently.

[2017-11-01 10:39] bernardomed commented on #81
Right,

I have one index.md for each language (index.es.md, index.en.md, index.pt.md), one layout > home.html for each language (home-en.html ... ) and one layout > default.html for each language (default-en.html ...)

I also have one of each _includes file for each language.

I discovered that if I change the language and layout of the index.md file, it changes the layout to the required language

[2017-11-01 10:53] bernardomed commented on #81
I just realised that the index page any language is compiled with the default language so this is clearly me not knowing how to setup correctly the languages in the _config.yml file.

![bitmoji](https://render.bitstrips.com/v2/cpanel/cbb2b042-f8f4-4ea2-9572-6949d69ac0bb-db5ab7d5-99ec-4817-832d-6bae4788ba34-v1.png?transparent=1&palette=1&width=246)

[2017-11-01 13:41] bernardomed commented on #81
Figured it out by looking at #75 and then looking at the source code of @sylvaindurand's multilingual theme.

Basically, I had to add an index reference to the _confyg.yml like this:
[code]

then add this to the front matter:
[code]

Works like it should!

![bitmoji](https://render.bitstrips.com/v2/cpanel/29897768-37ef-481b-83f1-3e1c895116f6-af4721d1-0512-4729-8d5a-1f55185093ba-v1.png?transparent=

[2017-11-02 10:02] bernardomed commented on #81
Or I thought it would work :(

[2017-11-06 13:53] andreaspada opened #82 "nested default language"
Hi! Congratulations for the great work, really awesome plugin.

I would like to know if is it possible to hack the code somewhat to have the default language also in its subfolder. I write my site in three to five languages, and I prefer to have all them in its subfolders: mysite.com/en, mysite.com/pt, mysite.com/it, mysite.com/es, etc...

Thanks!

[2017-11-06 15:27] bernardomed commented on #82
Make the default language XX.

It worked for me.

[2017-11-06 16:08] untra commented on #82
Yup, that's exactly the approach I'd recommend. Thanks @bernardomed ! 👍

[2017-11-06 16:08] #82 closed

[2017-11-07 12:24] bernardomed opened #83 "Adding a third language breaks the plugin"
I have 3 different languages on my site.

When I had 2 languages working fine but when I needed to add the third, the landing page won't compile.

This is how my _config.yml is set:

[code]

As you can see, I have referenced different index files for each language.

Each language index file has a front matter header like this:

[code]

Then the related home has its front matter like this:
[code]

[2017-11-07 13:36] bernardomed commented on #83
After further inspection, I realised that the only language that is working ie English. The other 2 are going to the fallback default language.

I must find out how to sort this out.

[2017-11-07 15:35] bernardomed commented on #83
Found a workaround by using an if statement to detect the active language in the default.html file and then load the correct includes.

[2017-11-07 15:35] #83 closed

[2017-11-09 10:38] bernardomed opened #84 "Can the 404 page be localised?"
I'm trying to localise the 404 page without success.

Has anyone been able to do it?

Cheers

[2017-11-09 15:36] untra commented on #84
404 page can have custom rich text. I like this approach:
### using `site.data` rich text
[code]
[code]
This is a good strategy for including translated rich text on any page. Theres another example of this using the [sample.md](https://github.com/untra/polyglot/blob/master/site/sample.md) page. [Take a look](http://polyglot.untra.io/sample/) 👍

[2017-11-13 14:54] bernardomed commented on #33
Any news on this @untra?

@kermorgant did you manage to make it work using `ref:`?

Cheers,

[2017-11-16 13:41] BeMrTeal opened #85 "Any news on Polyglot 2.0?"
After reading through the documentation, I'd like to know if you are still planning to release 2.0.

Cheers,

[2017-11-16 15:36] untra commented on #85
I promise nothing!
But yes I am still working on it. Is there any feature you would really like to see or have?

[2017-11-16 15:49] #84 closed

[2017-11-17 11:28] bernardomed commented on #85
- Having the default language in a folder without needing to use the 'XX' hack
- Having the ability to translate urls without using a 'ref' tag
- Sitemap plugin compatibility or sitemap generation

Thanks mate.

[2017-11-24 16:37] mckf111 opened #86 "Could not show the double language mode in my blog"
Hi,

I have followed all the instructions, while the website is not multilingual (actually only English and Chinese) yet. Could you please help me check if my settings are correct in my repository.

My blog is [bioinfostar](http://bioinfostar.com).

Thanks a lot!

[2017-11-24 16:44] untra commented on #86
The polyglot plugin is not whitelisted by github, and cannot be used to automatically generate a gh-pages website. This is for security reasons done by github.

You have to manually run `jekyll build` on your computer locally when developing your website.
And then push the built website manually to your `gh-pages` branch.

see [this wiki page](https://github.com/untra/polyglot/wiki/Github-Pages-Su

[2017-11-24 16:53] mckf111 commented on #86
I just build my blog in github.io, not a gh-page, how could I do this?

Best,
@mckf111

[2017-12-07 12:05] mathiasmaul opened #88 "Make site.posts return all languages"
Hi! How can I force `site.posts` to return posts in all languages regardless of the site’s active language?

[2017-12-28 19:47] martignoni commented on #33
Would be also interested in this. Any news?

[2017-12-29 02:52] untra commented on #33
I've worked on the v2 version sporadically over the past few months. The new implementation will use the `ref` pattern as described above.

The v2 work is currently stuck on a different feature; replicating pages to appropriately build each website language. v2 will no longer `fork` to split execution for each language, which now makes designating the appropriate pages easier. The singlethreaded v

[2018-01-09 22:59] Phantasus commented on #78
@eighthave I have an adhoc rough sketch, not really tested, totally expirmental.

But could that help you?: https://github.com/Phantasus/polyglot/tree/tamed_parallel_localization

[2018-01-10 14:12] eighthave commented on #78
@Phantasus thanks for taking that on!  Looks like the right idea, we'll know better once it actually runs.  You can see a test run here:

https://gitlab.com/eighthave/fdroid-website/-/jobs/47410406

If you fork [that repo](https://gitlab.com/eighthave/fdroid-website), then you can easily change the commit in _Gemfile.lock_ and push your commits.  Then GitLab CI will automatically run it.

[2018-01-12 13:44] espen commented on #37
Just following up here instead of making a new issue since it's just a question:

Is it possible to localise just the content. So keep one HTML for each page and content for each language separated?

Something like https://github.com/Anthony-Gaudino/jekyll-multiple-languages-plugin#52-including-translated-files

So basically have pages using either translated strings or includes to markdown conten

[2018-01-12 16:33] untra commented on #37
yes, this is possible. I actually use this approach to make the [Sample rich text data](http://polyglot.untra.io/fr/sample/) page on the polyglot website. The approach is to maintain a file of strings in a data directory, and use liquid tags to inject them into your markdown. Follow these steps:

1. add a [data_dir](https://github.com/untra/polyglot/blob/master/site/_config.yml#L6) to your _config

[2018-01-12 17:07] espen commented on #37
Ok, so I have to use YAML and not markdown blocks (files) as described/linked above?

YAML strings might be a better solution than individual files, I am still not sure what the best way to manage content within html is. Tradeoff between readability, flexibility and easy of translation.

[2018-01-12 17:28] untra commented on #37
You'll want to use both strategies; rich-text strings with `site.data` as described above, and whole page/posts in an entire language as described in the readme.

Rich text strings are better for building _text-lite_ site content. This strategy is good for building menus, navigation components, mixed-media components, etc. Just remember there is no fallback content for missing rich-text strings, u

[2018-01-12 18:28] untra commented on #37
Pick your poison. You have two different strategies for two different kinds of content. Use each strategy appropriately, and you'll minimize the amount of work you need to do. Prioritize your rich text content over legacy blogposts and pages.

Sorry, thats the nature of i18n website development. Its just a lot of work.

[2018-01-17 13:28] eighthave commented on #78
@Phantasus I tried a batch with about 30 languages and it looks like it is working.  It got stuck after a while.  Each batch was taking about 5 minutes, then the last one hung for about 40 minutes til the CI job was killed.
https://gitlab.com/eighthave/fdroid-website/-/jobs/48327597

Another thing I noticed is that for each batch, it says "i18n: Ensuring default English translation is in webroot".

[2018-01-17 13:36] eighthave commented on #78
I retried the CI job to see if it was just a temporary glitch https://gitlab.com/eighthave/fdroid-website/-/jobs/48340719

[2018-01-19 13:13] eighthave commented on #78
The retried job got stuck in the same place.  Anything I should try next?

Also, it would be very cool if the default number of jobs per batch was derived from the CPU count in _/proc/cpuinfo_, if that is present and readable.  Here's how I do that in Python:

[code]

[2018-01-19 23:09] Phantasus commented on #78
@eighthave I spotted the reason for "i18n: Ensuring default English translation is in webroot.", that's
the fdroid-website post hook, which doesn't properly detect anymore the lockfiles for the run languages
and so gets executed.

Sigh! interesting interconnection of hooks, side effects are fun. Let me think about that.

[2018-01-21 12:32] Phantasus commented on #78
@eighthave how about 16 languages in 1 hour: https://gitlab.com/Phantasus/fdroid-website/-/jobs/48845881

[2018-01-23 10:41] eighthave commented on #78
Hmm, hit the 1 hour timeout again.  It is possible to change that timer to whatever in your gitlab repo's settings, but I think things are hanging since the first few batches run pretty quickly.

[2018-01-23 10:48] eighthave commented on #78
It might be worth setting the timeout to like 10 hours, and clicking Retry on that job.  That'll at least tell you whether the job is hung or just running really slowly.  I did that with this job:
https://gitlab.com/eighthave/fdroid-website/-/jobs/49119984

You can find that setting here:
https://gitlab.com/Phantasus/fdroid-website/settings/ci_cd

[2018-01-23 16:03] eighthave commented on #78
Ok, after almost 6 hours it was still hung, and gave errors about running out of memory.  My guess is that for some reason when a batch is finished, it does not de-allocate all its memory.

https://gitlab.com/eighthave/fdroid-website/-/jobs/49119984

[2018-01-24 15:40] eighthave commented on #78
I ran this with 10 languages on a machine that has 8GB RAM and 8GB swap.  It didn't run out of memory, but it did crash:

[code]

[2018-01-24 17:37] untra commented on #78
@eighthave Holy smokes! I never imagined polyglot or jekyll would be pushed to this extreme.
I've never encountered a website so large, and with so many languages that it needed to be built for. The fdroid-website is _the_ use case for polyglot's forked builds. 👏

Whats that `prepare-multi-lang.rb` file in the stacktrace? Is that custom?

[2018-01-24 19:02] eighthave commented on #78
yeah, `prepare-multi-lang.rb is custom.`  Here's the repo: https://gitlab.com/fdroid/fdroid-website

This website is pretty nuts, but it works.  We had no idea that we were building the largest Jekyll site by far when we starting out.  Its about ~1500 pages per language.  We have 9 languages in production, and ~30 in staging.

[2018-01-25 18:30] Phantasus commented on #78
@eighthave ok, I see. Next time I'll test the thing more properly. I didn't test it with a small amount so the triggers weren't executed. Sorry for wasting your time.

[2018-01-26 07:51] eighthave commented on #78
if you get this working, that'll be huge!  Thanks what's most important :-)

[2018-03-06 20:51] kerner1000 opened #89 "NoMethodError thrown when running jekyll serve --incremental"
I run ` bundle exec jekyll serve --incremental` and get the following:
[code]

[2018-03-06 21:23] untra commented on #89
hmm... with the incremental documents may not have a defined `output` at the time the hook gets called.

The error is being thrown from [here](https://github.com/untra/polyglot/blob/master/lib/jekyll/polyglot/patches/jekyll/site.rb#L154). Relativize urls is being called on a document with a `null` output. Document output's should not be `null` when this hook is called.

Any chance your jekyll proj

[2018-03-06 22:21] kerner1000 commented on #89
Yes, sure, many thanks!
https://kerner1000.github.io/

[2018-03-08 03:32] untra commented on #89
So this is going to be embarrassing to admit... I haven't done ruby development in awhile, and I have a new computer. I've been meaning to get my ruby environment setup, so I figured I'd get my dev environment setup quickly so I could debug your project.

At this point I've spent four hours trying to get `bundle install` to work :fearful: I'm getting rolled by [nokogiri](https://github.com/sparkle

[2018-03-08 03:35] untra commented on #89
Are you seeing the `NoMethodError` when you run `bundle exec jekyll serve`? or does it only show up with the `--incremental` flag enabled?

[2018-03-08 11:45] kerner1000 commented on #89
:D no worries, its working anyways. It happens only with `--incremental` option.

[2018-04-26 18:01] eighthave commented on #78
We got a grant to finalize the F-Droid localization, so there will soon be some funds to get this fixed.  Anyone on this thread available for a small contract?

[2018-04-26 20:44] eighthave commented on #78
Could be like a bug bounty: fix this bug for money.

[2018-04-27 07:55] eighthave commented on #78
`parallel_localization: false` processes the languages linearly, which would make building the site with 30 languages really slow (see https://staging.f-droid.org).  @Phantasus got a batch processing mode working, so the build can process one language per CPU core.  The problem is that the memory is not deallocated, so even though the processing is happening 4 or 8 languages at a time, the memory

[2018-04-27 14:13] vlsi commented on #78
@eighthave ,
[code]

What is the expected time to build the site?

[2018-04-27 14:49] eighthave commented on #78
in closer to real world conditions, building 4 languages, we're
currently seeing 15-20 minutes:
https://gitlab.com/fdroid/fdroid-website/-/jobs/65365731

But the bigger issue honestly is the memory usage, since we current need
16gigs dedicated RAM to build staging.f-droid.org with all languages.
That's with 30 languages.

[2018-07-09 11:15] musikele opened #90 "exclude_from_localization still creates the directory with all subdirectories"
Hi,
my website supports two languages: english and italian.
The blog is only in italian. I want to exclude blog articles from localization.

In _config.yml, I have inserted:
[code]
(note: after compilation, my posts end in `/blog` directory, for example: `/blog/2018/04/26/title/index.html`).

After generating the website, I get:

- /blog/index.html is correctly generated
- /en/blog/ does not conta

[2018-07-09 11:19] musikele commented on #90
excluding a single article, like this, won't work:

[code]

[2018-07-09 13:38] untra commented on #90
Hello @musikele 👋
Can you provide a link to your repo? I'll try to clone it down and take a look.

Is it a problem those en blog posts are being generated? Could you just rm the en/blog/ directory after building, but before uploading up the generated site?

[2018-07-09 13:44] musikele commented on #90
Hi, thanks for your quick response.

Unfortunately I cannot give you the link to the repo since it is a private product.

I might recreate the issue with the minimum necessary data to see it.

At first yes; the SEO department said these urls are being found by search engines and clicked by users.
My solution has been to add a rule in robots.txt to not track those files.

The process of building th

[2018-07-09 14:11] untra commented on #90
Well, the polyglot plugin is designed to generate equivalent pages and
posts in each language. It does this to encourage making sites that are
100% available in each language. This is a feature, not a bug,
unfortunately 😬

Another approach (I would not recommended this) is to actually create those
English blog posts with no content in them. That way those pages are
generated with no content. That

[2018-07-09 14:20] musikele commented on #90
Hi there,
Thanks for your feedback. I'll evaluate the "one line" approach, but just for future people searching for the same feature, here is another option based on your comment :
- create a layout called "redirect.html". Put some javascript that redirects users to other pages based on a variable `{{page.redirect_url}}`
- create fake articles in the other language and use the layout `redirect`
-

[2018-07-09 15:34] vlsi commented on #90
That looks like something boring.

That is a key point. Do you expect "language selection link" to just disappear when displaying italian blogpost?
Do you expect "language selection link" to be present? If so, where should it point to?

I think this issue and #63 are related.

[2018-07-09 19:35] musikele commented on #90
The blog section exists only in Italian and when we switch to English the blog link in the navbar disappears. I don't know how but search engines have found these articles and started indexing them with the wrong language tag, with impacts on seo. At the end I had to tweak robots.txt and, for some time, I cannot delete these english articles but keep them and redirect to home page.

[2018-07-09 19:37] musikele commented on #90
For me the issue can be considered closed; #63 is the feature request that maps 100% my needs.

[2018-07-09 19:37] #90 closed

[2018-09-02 16:37] cmcnicholas opened #91 ""Could not find document" when using "link" or "post_url" commands"
Is the plugin intended to work when using Jekyll functions to generate links? An example below:

[code]

This produces:

[code]

Just to give some insight to our structure we have a collection called `articles` and sub directories of content. This was working fine before introducing the plugin and I would like to find a way to use the existing functions `link` and `post_url` if possible rather tha

[2018-09-03 11:57] totoroyyb opened #92 "Error when switch to other languages"
Hi,

I tried to add two languages into my website by utilizing polyglot but I encountered some problems.
When I switch to second language by using language switcher, it failed to load font. Here is error message.
![image](https://user-images.githubusercontent.com/30278896/44985548-4cf60b00-afb3-11e8-864c-1c0a6dceb258.png)
It seems that polyglot automatically change the original path to one that in

[2018-09-03 16:36] untra commented on #91
Heya @cmcnicholas 👋

Okay, so when you build the site, Polyglot will fork itself N times, one for each language you're building for. In each thread, it will then find the respective files starting from the directory matching it's assigned language, eg. `/en/_articles/activities/activities.en.md` . So in order to find your pages you will need to organize your `_articles` [like this](https://github.

[2018-09-03 16:47] cmcnicholas commented on #91
Excellent, thanks for the quick response I will give this a try

[2018-09-03 16:55] untra commented on #92
Heya @totoroyyb 👋 ,

looking [here](https://github.com/totoroyyb/totoroyyb.github.io/blob/master/_config.yml#L5), you have

First off, that should be named `exclude_from_localization`: drop the `s`. That config option means that all content from those subfolders will not get relativised, which you want. Except you have your [javascript folder named js](https://github.com/totoroyyb/totoroyyb.github

[2018-09-04 02:15] totoroyyb commented on #92
@untra Thanks for your quick answer, I'll tried to simplify that!

[2018-09-04 07:32] totoroyyb commented on #92
@untra I've managed that out! Thanks for your help!

[2018-09-04 07:32] #92 closed

[2018-09-04 07:54] totoroyyb commented on #92
@untra I'm wondering is that possible to make website use the default language of user's browser? Cuz every time I navigate to my website, it always go to the default language of my website not user's browser. Thanks!

[2018-09-04 16:39] untra commented on #92
you will need some javascript to check the browser language on first visit, and redirect to the appropriate page. [Relevent stackoverflow](https://stackoverflow.com/questions/24519370/javascript-redirection-according-to-browser-language). Good luck!

[2018-09-15 11:00] raphaelmenges opened #93 "Simple linking within same language"
Hello @untra!

I am implementing the localization of a Jekyll-based Web site with your plugin. The multi-language page generation works fine, however i cannot get the relative linking working in such a way that one stays within the same localization when navigating through the site via links. Thus, i have created a minimal [example](https://github.com/raphaelmenges/polyglot_playground/tree/7ba3972

[2018-09-15 18:49] vlsi commented on #93
@raphaelmenges , have you tried `baseurl: ""` in `_config.yml`?

[2018-09-16 14:14] raphaelmenges commented on #93
Thank you @vlsi! Changing the baseurl from `"/"` to `""` fixes both of the problems i described in this issue.

[2018-09-16 14:14] #93 closed

[2018-09-17 02:34] untra commented on #91
@cmcnicholas  Did you have any luck with this? Otherwise I will close this issue.

[2018-09-17 09:55] cmcnicholas commented on #91
Not yet pal, apologies for keeping the issue open been busy on some other products currently, I will try and make time this week and update the issue

[2018-09-18 07:59] raphaelmenges opened #94 "Feature Request: Take front matter fallback from default language"
Hello @untra!

I am working on a project overview for my institute and would like to have each project as _"projectxyz.en.md"_ with an English description etc. and _"projectxyz.de.md"_ with a German description etc. This works fine so far, however, there are general variables like `project duration`, which i would like to define once for each project. I have read about the approach to put such gen

[2018-09-18 15:13] untra commented on #94
Hello @raphaelmenges 👋

If you like at how I use [the _data directory](https://github.com/untra/polyglot/tree/master/site/_data), I made separate folders for each language, and then access the sample data [like so](https://raw.githubusercontent.com/untra/polyglot/master/site/sample.md).

But you are looking for specifying these variables once (ideally in the `default_lang` data directory), and the

[2018-09-19 07:41] raphaelmenges commented on #94
First of all, this sounds like a feasible solution 👍

However, I am trying to keep related information together in the same folder. Therefore, I have placed the markdown files with localized information about one project into the same folder and distinguish between the localizations via the file extension (_en.md_ and _de.md_) and the front matter language variable. This works fine so far when def

[2018-09-26 16:10] hvoigt commented on #89
Just had this same issue after installing polyglot.

`jekyll serve --incremental`

[code]

Once I ran just `jekyll serve` without the `--incremental` option the issue dissappeared and now even with `--incremental` it seems to work fine. Not sure what is cached where but even a clean repository (`git clean -xfd`) does not help to have it resurface.

[2018-11-06 13:37] jerturowetz commented on #29
I'm pretty sure polyglot is running after jekyll-sitemaps, and is copying the `sitemaps.xml` file to the other language folder roots without any processing as if it was any other file.

As this has been a floating issue since 2016, I'm going to resolve it in my project by removing the sitemaps plugin & building a sitemap file using polyglot vars. I'll post my example once finished (maybe we could

[2018-11-11 23:31] MPJHorner commented on #29
Anything get resolved with this? @jerturowetz interested to see what you have created.

[2018-11-12 15:07] jerturowetz commented on #29
Just wrapped it up now! I've ditched using a sitemap plugin and just built the sitemap manually.

There's a few items to note:

- For cleanliness, `sitemap.xml` is listed in the `exclude_from_localization` array in `_config.yml`
- I did not specify any `hreflang` attributes in the sitemap as my posts/pages have `hreflang` specified in their `<head>`. I do it manually, but polyglot includes `{{ I18

[2018-11-14 04:00] jerturowetz commented on #57
some urls i place in the `<head>` get converted even if hardcoded, no matter what I do, it's really frustrating to no be able to turn this off on demand. I.E. `href="/"` becomes `href="/fr/"` in the head, but not in the body... like what the heck is going on?

[2019-01-09 10:14] ghost opened #97 "Specific permalink for "en" language?"
Hello,

I'm starting a new project using your plugin, which is great btw! Also, I noticed that permalinks doesn't get localized for "en" language. For example:
- in french (default), I get `/fr/myslug`
- but in english, I get `/myslug`, but I was expecting `en/myslug`

In your sample site there is the same behaviour... Is there a way to take care/fix this behaviour, to get always a localized perma

[2019-01-09 10:34] soykje commented on #97
@vlsi Wow you just gave me the solution! 👍 I just had to specify the `locale` variable, and everything was doing well. But it was not in the documentation, was it?
Anyway, thank you very much for your quick answer, and if still wanted/needed, here is my projects url: https://gitlab.com/soykje/ssg-boilerplate

[2019-01-09 10:41] vlsi commented on #97
@soykje , I don't think `locale` is used by default.

In my case, `lang_vars: ["locale"]` makes `polyglot` to populate `locale` variable with current language.  I don't use that directly, however minimal-mistakes theme tries to access `site.locale` (see https://github.com/untra/polyglot/issues/41).

[2019-01-09 10:55] soykje commented on #97
@vlsi Not sure to understand... I'm using simple Jekyll (no theme), and in fact the problem has been fixed just by specifying the `locale`. I don't have any other variable such as `lang_vars`, so it seems that the `locale` is used by default, isn't it? 😕
It would be great to have more details on this behaviour, indeed.

[2019-01-09 11:10] vlsi commented on #97
It is not used by default: https://github.com/untra/polyglot/search?utf8=%E2%9C%93&q=locale&type=
The only presence of `locale` is in polyglot unit tests.

[2019-01-09 12:34] soykje commented on #97
I'm sorry but I think you lost me... 😕 In simple words what would be your answer to my initial issue, if not using the `locale` variable?

[2019-01-09 12:48] vlsi commented on #97
@soykje , `locale` does nothing in your case.

You seem to use `site: lang: site.data.active_lang` which is not something good.

For instance:
https://gitlab.com/soykje/ssg-boilerplate/blob/master/src/index.html#L5, https://gitlab.com/soykje/ssg-boilerplate/blob/master/src/about.html#L5 and so on.

In fact, your pages should have consistent language. For instance, you should have TWO files for abo

[2019-01-09 13:17] soykje commented on #97
@vlsi How could it be possible that `locale` does nothing ?! The addition solved my issue, as I said...

Also, I don't understand your remark on my use of `lang: site.data.active_lang`, as I just followed the Polyglot official example: https://github.com/untra/polyglot/blob/master/site/sample.md 😕

I'm open to any suggestions, but here I can't understand the point as I just followed this plugin do

[2019-01-09 13:35] vlsi commented on #97
ok, I stand corrected. `lang: site.data.active_lang` should work indeed

[2019-01-09 13:38] soykje commented on #97
@vlsi Ok, and also the addition of `locale` variable to the `_config.yml` is the correct solution to initial issue? Or is it something else to add/change?

[2019-01-09 13:41] vlsi commented on #97
Just in case, I clone your repository, remove  `locale: 'fr'`, perform `bundle install`, then `npm run build`, and it builds the site with default fr.

For instance, `public/sample/index.html` contains French, and `public/en/sample/index.html` contains English.

There's a glitch with opengraph tag: `<meta property="og:locale" content="site.data.active_lang" />`

[2019-01-09 14:01] soykje commented on #97
@vlsi Yes, I'm seeing this problem, maybe related to the Jekill-seo-tag plugin :/ Also, in my local environment, I've got some build issues... not you ? 😕

[2019-01-10 12:48] soykje commented on #97
@vlsi I just fixed that by adding my own SEO tags, without the initial plugin. It works now, with the addition of a `regions` object variable in `_config.yml`.
About the initial purpose of this issue, as it is fixed, maybe we could close it?

[2019-01-15 07:55] streetrunners opened #98 "Is there a way to link posts in different languages with no similar filename or permalink?"
I would like to link two posts written in different languages like this:

2018-10-09-post-a.md
[code]

2019-01-01-totally-different-filename.md
[code]

I don't want to hardcode permalinks in the front matter of each post, I'd rather let Jekyll create them from what I specify in `_config.yml`. I don't want to name the files the same as I'd like each to have it's own translated title. Is there a way

[2019-01-15 08:57] streetrunners commented on #98
I've somehow managed to make it work with the lib defaults! All my spanish posts are stored in the root and all the english ones are stored inside the /en/ folder. I didn't even set a `lang` variable in the
 posts' front matter (although I already had a `locale` one).

So, all in all, what I did was:
- Install the library
- Add a `lang: es` and `lang: en` variables in both index.html and en/index.

[2019-01-31 16:15] MPJHorner commented on #29
@jerturowetz looks ideal. You should put this on the Readme.md

[2019-02-21 11:32] bernardomed opened #99 "Multilingual site description broken"
Hi there @untra,

I noticed that when the page description is rendered in the HTML it includes a UNICODE greater than sign after the colon, like this:

`“en”=&gt;”The description of the website"`

Can anyone shed a light on how could I solve this bug?

Kind regards,
Bernardo

[2019-02-22 08:00] MPJHorner commented on #89
Had exactly the same error as you, only just starting using `--incremental`  few hours later I start seeing this error.

However, removing `--incremental` removed the problem, interestingly, if I add it back - it still isn't erroring...

However, when I run doctor I get this notification.

[code]

Not sure if relate d(or how to fix this!

[2019-03-14 01:18] untra commented on #99
we discussed this through email 👍

[2019-03-14 01:18] #99 closed

[2019-04-03 20:48] gvmohzibat commented on #71
I have the same problem.

[2019-04-06 16:23] seblaz commented on #98
Hi,
First of all, thank you for this plugin, it's really great! I've encountered a similar problem, I wanted to generate different pages (translations) from the same file but although the translations worked great, it wasn't possible to translate the permalinks.
I've generated the following code to solve it:
[code]

And it works if you put this in front matter:

[code]

I've learn ruby this week s

[2019-08-05 15:42] dseeker opened #100 "remove .lang from url and output"
If a project is using .lang file names standard it makes it mandatory to fill permalinks, otherwise files and urls retain with .lang names (/about-us.de.md, /about-us.fr.md). Usually we want to localize the url as well, but in some cases where the url stays the same across languages it would be great if this could be done automatically.

As a patch I have inserted a cleanLang method to remove the

[2019-08-06 14:02] ZakCodes commented on #75
GitHub Pages doesn't accept many plugins, so if you want to do anything serious with Jekyll you pretty much have to build your site locally or with any CI system and then push it to your GitHub Pages branch.

[Here's the documentation from TravisCI on how to do this](https://docs.travis-ci.com/user/deployment/pages/). Don't skip the step where you have to **manually** generate and register a priva

[2019-08-12 08:45] tuxayo commented on #78
Hi,
I there something an outsider can do?
On the technical side. Or on the financial side.
Like putting a bounty: https://www.bountysource.com/issues/49853554-parallel_localization-launches-one-process-per-language-overwhelming-build-machines

[2019-08-14 10:53] eighthave commented on #78
An outsider can totally solve this by reproducing the issue, then fixing
it.  Just run the whole f-droid.org build process to reproduce it, its
all free software and somewhat documented.

[2019-10-26 16:23] dseeker commented on #100
@untra sorry I didn't get back, I've now expanded part of the library to make permalinks out of slugfied titles instead of file names. I'm wondering if there is a way to pass a param switch to enable or not making permalinks from titles

[2019-12-10 12:20] MPJHorner commented on #98
Hi @seblaz I love this, however - probably need to adjust it so it automatically adjust the links to the correct lang (as defined here) as this doesn't correctly update the link. Also would need someway to pointing links to a page reference otherwise it'll be complicated to manage all your links in this way.

[2020-01-04 19:58] riiccardo opened #105 "change direction and lang attribute on html"
change or update direction when we use `Persian` site

and change lang attribute from `"en-US"` to `"fa-IR"`

`config.yml`
[code]

---

`layout`
[code]

[2020-01-06 11:03] #105 closed

[2020-01-31 06:03] trombik opened #106 "I18n_Headers does not support ${lang}_${COUNTRY}"
`I18n_Headers` generates `Content-Language` like the following:

[code]

which is valid. But some platforms use more specific values of the format `${lang}_${COUNTRY}`. Open Graph protocol also states that:

I don't know how it should be implemented (when you have `en` pages, which one should be used, `en_US`, or `en_GB`?). currently, I am using a custom logic with `site.data`.

`I18n_Headers` is

[2020-01-31 19:05] untra commented on #106
heya @trombik 👋

`en` is a [ISO 639-1](https://www.w3schools.com/tags/ref_language_codes.asp) identifier for english language, and would be used for english language content. However specific country codes can also be used in conjunction with a language, like `en_US` and `en_GB`.

In browsers, `en` , `en_US` and `en_GB` are all the same, but users may set browser preferences for `en_GB` content ov

[2020-02-19 21:43] lah7 opened #107 "SCSS generation broken in Jekyll 4.0"
Hi, I was testing an update to Jekyll 4.0 but found this plugin causes Jekyll to generate invalid CSS files from SCSS files. Luckily, i18n pages and variables appear to be working as expected.

For example, if the project has SCSS includes inside `_scss` and `assets/example.scss` contains:
[code]

After updating the bundle, the output for `example.css` becomes something like this:
[code]

Disablin

[2020-02-20 03:53] untra commented on #106
@trombik lemme know if you have any further questions around this, otherwise I'm gonna close this issue. Cheers

[2020-02-20 03:53] #106 closed

[2020-02-20 04:08] untra commented on #97
👍

[2020-02-20 04:08] #97 closed

[2020-02-20 04:12] untra commented on #107
Heya @lah7 👋

Thanks for the feedback! I haven't been working in the Ruby/Jekyll space for awhile; I put this plugin together back when Jekyll 3 was the new hotness. I'm a little short on time these days, but these are good clues for getting proper Jekyll 4 support in.

I do just need to take a weekend and refamiliarize myself with the Jekyll ecosystem, and the changes they've made to the page gen

[2020-02-26 15:39] untra commented on #107
it occurs to me:
wouldn't you want your `_scss` and other stylesheets listed in the `exclude_from_localization`? Files and directories listed there wont be localized?

not sure you mentioned if you used that.

[2020-02-26 20:07] lah7 commented on #107
Thanks - I did forget to mention that my `_config.yml` is ignoring those folders:
[code]
Adding `_scss` to the list yields the same results.

So, even though the plugin doesn't generate files like `/fr/assets/xxx.css`, the one and only `assets/xxx.css` produces the JSON like the above while the plugin is enabled.

----
Turns out it happens without `@import`s from the `_scss` folder too. Simple SCS

[2020-03-01 00:18] tshchik commented on #107
I face the same situation as @lah7 . Seems the scss file doesn't get processed?

[2020-03-12 09:23] cmcnicholas commented on #107
I have the same issue, the output of the css files becomes the css sourcemap, disabling this plugin and everything works.

[2020-03-12 16:11] lah7 commented on #107
Found a workaround - add this to `_config.yml` - this disables the generation of CSS source maps and the CSS is generated again:
[code]

_(Thanks for the hint @cmcnicholas, I didn't realise the output **is** the CSS sourcemap)_

[2020-03-12 16:16] cmcnicholas commented on #107
Ace, I can go with this for now, would be nice if it didn't interfere as we are due a css rewrite end of the year and sourcemaps are very useful 😂 but I can cope for now. Cheers for feeding back

[2020-03-12 16:42] cmcnicholas commented on #89
same issue with 4.0.0 of Jekyll

[2020-03-27 19:18] eighthave commented on #78
so I've been rnuning @phantasus' batch processing change on staging.f-droid.org, which is a really large site.  The batching works, and the whole thing completes, but it has odd behavior.  Basically, the last batch takes a really long time to complete.  It looks like it stops using CPU, then spends a lot of time doing disk I/O.

[2020-03-27 19:51] eighthave commented on #79
As of at least v1.3.1, this seems to be working.

[2020-04-08 19:47] Giszmo commented on #79
As the author of the issue you should be able to close it, not?

[2020-04-08 21:09] #79 closed

[2020-04-11 23:24] rnagais2 opened #109 "how do I enable a language toggle on my website"
Hallo,

I wanted to make a multilingual website in English (default), German, and Japanese. As guided in this official page, I have made  corresponding files:

[code]

but the website shows the three different posts: https://kokuryu-muenchen.de/

How can the website shows only default page and have a translation button like this sample (https://polyglot.untra.io/)?

My repository is https://github

[2020-04-11 23:42] untra commented on #109
Hi @rnagais2 👋

the [site](https://github.com/untra/polyglot/tree/site) branch of the polyglot repo is actually the jekyll project for the [polyglot.untra.io](polyglot.untra.io) site.

On my website, I have this language toggle setup in the sidebar.

all it takes for me is this bit of liquid syntax: https://github.com/untra/polyglot/blob/site/_includes/sidebar.html#L40-L42

try putting that in you

[2020-04-14 07:35] karrirasinmaki commented on #107
@lah7 you can also enable line comments. It generates CSS files with comments above style declarations pointing back to sass files.

[code]

Example output CSS excerpt:
[code]

[2020-04-17 09:27] eighthave opened #111 "single assets folder can't work, relativize methods miss URLs in src="" content="" action="""
I've been struggling to make sense about how to cleanly handle having a single static assets folder in a multi-lingual site.  Things like Javascript, the logo, form submission, etc.  What makes this extra tricky is also being able to support the GitHub/GitLab Pages config, where there is an extra path element, e.g. https://untra.github.io/polyglot/.  So what happens is that there is no clean way t

[2020-04-27 15:40] eighthave commented on #79
Ok, I finally figured out all this stuff, and found some bugs.  These two spots in the code always append a `/` to the entries in `exclude_from_localization:`, so that file entries will never be matched:
* https://github.com/untra/polyglot/blob/0684b07272cf2f3885f408b137e52ddd5c20a433/lib/jekyll/polyglot/patches/jekyll/site.rb#L140
* https://github.com/untra/polyglot/blob/0684b07272cf2f3885f408b13

[2020-04-27 23:15] #109 closed

[2020-04-29 04:34] untra commented on #111
test out v1.3.2 , let me know how that feels. I made some adjustments to your PR revisions, but I took them in them as intended for the most part. Let me know if 1.3.2 gets the job done.

Thanks for your contributions @eighthave !

[2020-04-30 12:49] pke opened #114 "Support liquid tags `t` similar to multiple-languages plugin"
This plugin seems to be only able to translate pages and posts in whole, not individual parts using liquid directives like `{% t key %}`?

[2020-04-30 13:06] untra commented on #114
Yes, this plugin is focused on helping entire pages and posts be translated.

You can use your data directory and refer to language specific rich-text strings though. See the site directory for more details

[2020-05-10 17:50] rnagais2 commented on #109
Hi @untra

Many thanks to your help.

I could enable a language toggle on my website. Locally it works with no problem.

However, after I uploaded on Github page, the website does not work with plugin (https://kokuryu-muenchen.de/). The main language (en, English) includes pages that was set for other language (ja = Japanese, de=german) and when I click other language, the page is not found.

Do y

[2020-05-11 04:12] untra commented on #109
I totally know why. @rnagais2 this is because polyglot is not a [github whitelisted gem](https://github.com/github/pages-gem/blob/master/lib/github-pages/plugins.rb#L20). I would need to make some adjustments to the code and jump through some support hoops to get this privilege.

Basically github will build your website on gh-pages without the `jekyll-polyglot` gem, which is pretty lame 👎  but its

[2020-06-09 12:17] evolverine commented on #91
I'm having the same issue, but with pages instead of posts; and I have, indeed, tried the suggested organization of the _pages folder, and still it throws a Liquid Exception, saying that it

Both _pages/about.md and _pages/ro/about.md exist, and they have the respective languages configured in the header (`lang: en`, `lang: ro`), plus the same `permalink: /about`.

[2020-06-29 02:47] trombik commented on #30
I don't know why the the author of the issue closed it. it still happens.

[code]

[2020-07-05 17:09] kylerove opened #116 "Not relativizing urls"
It seems that polyglot is not relativizing urls as I would expect. I have lang and permalinks specified in the front matter of pages. If I specify links like `[about us](/about-us/)` It will not insert the lang when I'm on the spanish version of the site. (I would expect it to link to `/es/about-us/`).

Similarly, if I specify the link in html and attempt to include the liquid tag to reference the

[2020-07-05 20:16] untra commented on #116
Heya @kylerove 👋
thanks for reaching out. You can find the source of https://polyglot.untra.io in the [site](https://github.com/untra/polyglot/tree/master/site) directory with plenty of examples.

My suggestion is to make links to other pages using the `<href>` tag and liquid syntax like so:
[code]

for example, [this is how](https://github.com/untra/polyglot/blob/d1a5c8599be53ed859e3f5e3fa43cd094

[2020-07-05 21:58] kylerove commented on #116
Seems that was it. I had "/" as my baseurl. To be consistent with what you showed above, I have moved to keep it empty. Just in case the site ever moves to a subdirectory, though, I am keeping the site.baseurl tag in place in links. Thanks for the quick response! Appreciate it!

I was following the section https://github.com/untra/polyglot#relativized-local-urls that shows several examples. I hadn

[2020-07-06 06:50] kylerove commented on #116
So, while all my links are working, it is now adding in the current lang into my language switching menu link for the default language. English is the default. When I am on a Spanish page, the link to English shows up as `/es/code-of-conduct/` instead of expected `/code-of-conduct/`. My liquify loop is very similar to your site example. I have added an array in my `_config.yml` to associate a capt

[2020-07-06 13:52] untra commented on #116
* I don't think you need the `{{ site.url }}` for the start of the href. All of these should all be relative urls, and the `site.baseurl` should default to `/` when not specified: https://jekyllrb.com/docs/configuration/options/
  relative urls passed into an href will be links for the same site (eg `<a href="/about">` on https://polyglot.untra.io links to `https://polyglot.untra.io/about`). If yo

[2020-07-07 15:37] alexanderadam commented on #89
I can reproduce it with any of my Jekyll projects.
Simply add `incremental: true` to `_config.yml` and let the games begin.

Would in [`site.rb`](https://github.com/untra/polyglot/blob/f7770f38d033874ba8570278638f3cac376f1c88/lib/jekyll/polyglot/patches/jekyll/site.rb#L187-L193) an early return in case of `nil` output do any harm?

For instance:

[code]

[2020-07-07 16:05] untra commented on #89
yeah, this is a bug with incremental builds. Incremental builds use existing cached content that isn't available on the language forks for each build, when the site is fresh. This is a bug I keep punting on.

**It has a workaround**: Just run one `jekyll build` without incremental, and the languages from cached pages will be present. I know how necessary `--incremental` is for faster builds, espec

[2020-07-08 20:43] kylerove commented on #116
Appreciate the look. See https://github.com/kylerove/pediatricurologybook for the repo. I've tried with and without `{{ site.url }}`, realizing it isn't strictly necessary.

The menu code lives in `_includes/header.html`.

[2020-07-13 01:09] untra commented on #116
@kylerove replace this segment:
https://github.com/kylerove/pediatricurologybook/blob/master/_includes/header.html#L39-L43
with this (its subtle, just whitespace):
[code]

explanation:

whitespace in the `href` wont get picked up by jekyll-polyglot for relativization, but browsers are smart and will handle relative urls with unintended whitespace gracefully. Tbh I'm also not proud of this solution

[2020-07-18 04:39] kylerove commented on #116
So after reading your comment, I was like "of course!" I had read that in the documentation. After implementing it, though, same result. I tried without `{{ site.url }}` and all sorts of variations with the space and still, it relativizes to the current language.

I'm at a loss as to why this works on your site and not mine.

What if your plugin created its own tag for the current page.url in the

[2020-07-19 01:43] bertolinocastro commented on #30
@trombik I'm having the same issue. And it happened with the same wild card problem.

[2020-07-19 20:41] untra commented on #89
@alexanderadam with your contribution merged in I cut a minor release. would you please try out version 1.3.3 and confirm noMethodError is still thrown on `Document.output.nil` , and when running with incremental jekyll builds?

[2020-07-20 09:13] alexanderadam commented on #89
@untra I just tested it ant this error is fixed with `1.3.3`. Thank you! :+1:

I don't believe that this was _the only_ thing necessary for incremental support, but it fixed at least this little error. :wink:

[2020-07-20 15:09] #89 closed

[2020-08-02 16:11] krzysztofmajewski commented on #60
I'm using `polyglot` for a bilingual (French and English) site. Currently the `default_lang` is `en`. I would like the site to auto-detect the language from the browser's locale (via `Accept-Language` header, I guess). I'm running Nginx, not Apache. Curious if there has been any progress on this front? Or should I try to adapt @pserwylo 's Apache solution to Nginx?

[2020-08-02 18:38] untra commented on #60
@krzysztofmajewski here is the nginx documentation for configuring response to the `Accept-Language` header, for serving different pages:
https://www.nginx.com/resources/wiki/modules/accept_language/

but you might want to open a new issue to discuss this :)

[2020-08-03 21:03] kylerove commented on #116
I copied the code from your site sidebar to give me a list of languages and links to current page, and I'm still seeing the same behavior. It is still relativizing the default lang link (en) to the current language.

[2020-08-04 02:48] kylerove commented on #116
After battling this all day and even digging into your source and looking at the regex, I confirmed that it _does_ skip hrefs with a space at the beginning, but somehow even with a space in my `header.html` file that generates my language menu, it was adding in the language code to the url for my `site.default_lang`. This led me to realize that *something else* was stripping the space. I temporari

[2020-08-07 00:06] elijh commented on #116
Thank you for this discussion. I found it very helpful.

[2020-08-09 00:10] bertolinocastro opened #119 "Liquid var showing available languages"
Hi! While creating some posts, I wondered if it's possible to programmatically give a notice that the post is only available in a certain language (bc the others aren't yet written or simply bc they're not supposed to be transalated).

I know pages and posts falls back to the default language (or to the one that exists) when there are not all translations avaiable.

So, is it already possible to d

[2020-08-09 06:18] bertolinocastro opened #120 "jemoji plugin interferes with Polyglot leading space in href"
Hi! While writing a post that contains a Github Flavored emoji like :grin:, all my links which start with the leading space, that Polyglot requires so it does not parse them, simply get parsed.

Based on my tests, it looks like that the jemoji plugin is parsing the entire file and removing the leading blank spaces or Polyglot has some undefined behaviour when there is a simple addition of an image

[2020-08-10 17:45] krzysztofmajewski opened #121 "Auto-detect language"
I'm using polyglot for a bilingual (French and English) site. Currently the default_lang is en. I would like the site to auto-detect the user's preferred language, probably via the `Accept-Language` header. Discussion in [this Issue](https://github.com/untra/polyglot/issues/60) suggests that this can be achieved via webserver configuration, by redirecting to the appropriate localized version of th

[2020-08-11 21:39] untra commented on #120
so I will admit that I regret my decision to use use leading spaces as a secret marker to avoid a regex matching a url.
that is outright a bad design, in particular with how it affects urls that users don't want to relativized.

It appears this plugin [jemoji](https://github.com/jekyll/jemoji) along the [jekyll spaceship](https://github.com/untra/polyglot/issues/116#issuecomment-668349136) plugin

[2020-08-14 02:42] bertolinocastro commented on #120
Well, I'm quite new to using Jekyll made pages, so I don't know what kind of tricks are possible to be made by a plugin in the jekyll pipeline. But the first things I could think right now were these:

1. some kind of Liquid comment or tag/marker that Polyglot should check whether the href lies in between or not. This would be something that has an starting and ending comment/tag, like:
[code]

2.

[2020-10-13 19:42] Roman1001 commented on #121
Good idea. But I don’t think you have to struggle with webserver configuration, as it can be done with JavaScript [like here](https://stackoverflow.com/questions/8199760/how-to-get-the-browser-language-using-javascript). Then we can just make a JS file redirecting us to the right language.

Something like this:
[code]

Of course, you’ll have to execute this code ONLY on the site’s `index.html` — o

[2020-11-04 15:33] dleidert opened #124 "Please push release tag 1.3.3 to github"
It seems version 1.3.3 has already been released. But github has no tag fpr this release. Can you please push the release?

[2020-11-07 02:32] untra commented on #124
[1.3.3](https://github.com/untra/polyglot/releases/tag/1.3.3)
good catch! Its pushed up now.

[2020-11-07 02:32] #124 closed

[2020-12-16 07:24] CSYoungbin opened #125 "[HELP] Conflict: The following destination is shared by multiple files."
Hi, I have trouble to use this plugin since I get this Conflict error.

I installed this with gem and bundler. After I installed it, I tried to
1) bundle exec jekyll serve
2) and notice my blog does not organized like below

![Capture](https://user-images.githubusercontent.com/61127408/102317007-82cd1c80-3f3c-11eb-990e-0ba8d5cf8f7d.PNG)

3) and noticed I got this conflict on terminal.

![Capture](

[2020-12-16 13:44] untra commented on #125
Hi @CSYoungbin 👋
We identified this issue in the past. The solution is to disable the css sourcemap generation:
https://github.com/untra/polyglot#compatibility

Let me know if this helps!
Cheers,
Untra

[2020-12-17 07:21] CSYoungbin commented on #125
Thanks!

[2020-12-17 07:21] #125 closed

[2021-01-18 15:41] GaLaKtIkUs commented on #120
Hi,
Any update regarding this issue? I'm facing the same situation.

[2021-01-18 16:49] untra commented on #120
Hi @GaLaKtIkUs 👋 ,

Sorry I have not worked on this.
Probably making a liquid filter to address this is the right move. That seems straightforward. I'll try and find some time to knock this out.

[2021-01-27 15:34] heeplr commented on #63
I need this too for posts in language A that haven't been translated to language B, yet but B is the default language.
Those posts shouldn't be displayed for language B at all until the translation to B is available.

[2021-02-07 23:17] untra commented on #100
yo @dseeker dawg let me know if you still want to get this in:
https://github.com/untra/polyglot/pull/101#issuecomment-588597235

[2021-02-07 23:17] #100 closed

[2021-02-07 23:18] #80 closed

[2021-02-07 23:18] #70 closed

[2021-02-08 00:45] untra commented on #120
alrighty @bertolinocastro and @GaLaKtIkUs ! I just released [jekyll-polyglot-1.4.0](https://rubygems.org/gems/jekyll-polyglot/versions/1.4.0) , which now has a new liquid tag `{% static_href %}`  [for disabling url relativization](https://github.com/untra/polyglot#disabling-url-relativizing). Let me know if this helps with url generation and the jemoji plugin.

hopefully this is a better solution

[2021-02-08 00:49] untra commented on #63
alrighty @heeplr and @sweisgerber-dev  ! I just released [jekyll-polyglot-1.4.0](https://rubygems.org/gems/jekyll-polyglot/versions/1.4.0) , which now has a new frontmatter `lang-exclusive: [de]`  [for controlling which site languages get built](https://github.com/untra/polyglot#exclusive-site-language-generation).

This should help achieve your goals with jekyll site generation.

Cheers!

[2021-02-08 02:34] bertolinocastro commented on #120
Thank you, @untra ! I'm sure it solved the problem in a nice manner. I'm gonna test it soon and if any problems occur, I get in touch here again.

[2021-02-17 15:40] Taknok opened #130 "exclude_from_localization bug"
The config `exclude_from_localization` seems to not exclude.
Here is a base demo: https://github.com/Taknok/i18n_test

The `_config.yml`  has the exclusion value of `assets` :
[code]

Then we can see in `_site` that the `assets` folder is also present in the local folder, which should not be the case since we excluded it:
![Capture](https://user-images.githubusercontent.com/12498020/108227662-687f

[2021-02-17 18:10] untra commented on #130
Hi @Taknok 👋

https://github.com/Taknok/i18n_test/blob/master/Gemfile#L18

that's not my jekyll-polyglot gem; that is a fork fdroid made for their own site: https://gitlab.com/fdroid/jekyll-polyglot

I'm not sure what changes they made to the gem tho :/

[2021-02-17 21:32] Taknok commented on #130
OK, sorry, I tried this to see if it fixed the issue (and it didn't). I have corrected the `Gemfile` now and the issue is still there. You can reproduce it with a `docker-compose up` .

[2021-02-20 21:49] untra commented on #130
okay, I had some time to look at this. That assets file is being generated from the `minima` gem. That gem writes those css and icon files out in the postbuild steps in the build directory if those files don't already exist.

polyglot can't prevent those asset files from being included in each build, as they're being created as part of the jekyll build process of a completely different gem.

hopef

[2021-03-07 20:13] #130 closed

[2021-03-23 16:40] dimpram opened #131 "site.static_files gets overridden (bug?)"
Hello,

First of all, what a great plugin! It seems to be very easy to use. Great work! So I have a site that i am building and i used a kind of hacky way to implement image galleries similar to jekyll documentation below:

[code]

My site requires 2 languages: English and Greek. What i noticed is that when i go to the /el/ version the variable `site.static_files` doesn't actually point to the roo

[2021-03-23 17:16] untra commented on #131
Hi @dimpram  👋

I actually did not know about that site.static_files liquid variable, but from what I can read in [the jekyll docs](https://jekyllrb.com/docs/static-files/):

huh, i didn't know that was available. polyglot could probably overload that for the other languages to make things more accesible when listing static and `exclude_from_localization` files.

Nonetheless the answer to your pro

[2021-03-23 18:32] dimpram commented on #131
Thanks for the quick reply,

This solution doesn't work because the problem begins at the `{{ site.static_files }}` variable which accesses (or points to) different files for each page. I am going to try to make this clearer by providing an example.

Let's say i have a page called `gallery.html` which uses the previously mentioned code to display images - even if i just print `{{ site.static_files

[2021-03-26 09:39] pavanjoshi914 opened #132 "exclude from localization not working , using '*.gem' makes polyglot crash"
I am using jekyll 3.9.0  I am facing majorly 2 problems
1>assests are still being copied to localized folder
 I have assets folder in root directory of my project
 ```exclude_from_localization: ["assets"] ```
![assets](https://user-images.githubusercontent.com/55848322/112611018-51b98d80-8e43-11eb-93f8-0aa5569d3021.png)
 adding entries "*.gemspec" and "*.gem" generates relative regex errors
![excl

[2021-03-26 13:59] untra commented on #132
Heya @pavanjoshi914 the `exclude_from_localization` array takes in a list of strings that are file/folder paths from the root directory where you run jekyll serve. It does not support glob matching on filenames. `*-` wont work. sorry!

re: your assets directory still being created, [are you using the minima gem](https://github.com/untra/polyglot/issues/130#issuecomment-782754522)?

For further hel

[2021-03-26 14:20] untra commented on #131
Okay, this behavior makes sense in context of what polyglot does. Yeah, the availability of static files is totally changed in sub-language pages, and excluded files wont be available locally during those site build. `site.static_files` is not going to behave correctly in sub-language projects, thats defs a bug.

For now, a workaround is (still) more liquid syntax. You (should) know the filenames

[2021-03-27 02:32] pavanjoshi914 commented on #132
Thanks for quick reply @untra
https://github.com/pavanjoshi914/Interactive-Book here is the link for repo please checkout on ```GSoD2020``` branch to see newer version of site
site is using  [just-the-docs](https://github.com/pmarsceill/just-the-docs) theme

[2021-03-27 22:23] untra commented on #132
yeah, so... the `minima` gem, when added to the gemfile and run part of jekyll, checks if the icon and css files in the [assets](https://github.com/jekyll/minima#assets) directory are there, and if not it creates those files in the build output directory _after the site is built._ Minima does this in the post-build step of the jekyll run process, which is after polyglot executes and splits in exec

[2021-04-06 15:51] Taknok opened #134 "Problem rendering underscore folder with include"
I use a `_pages` folder to include various pages different from posts. The `_config.yml` has the folloxing directive:
[code]
If a `.md` file has a permalink, the file is not rendered. Without the underscore folder is rendered (normal behaviour but I do not want and _pages in urls=:
![image](https://user-images.githubusercontent.com/12498020/113744181-c4a8eb00-9704-11eb-80c5-cbd12d4f6a7c.png)

[2021-04-06 17:08] #132 closed

[2021-04-07 13:07] Taknok commented on #134
Probably related to #71 . Sorry

[2021-04-07 13:56] Taknok commented on #71
Hi, I solved this issue by combining include and force render.
Example with a `_pages` collection with a `test.md` :
`_config.yml` is :
[code]

`test.md` is :
[code]
Result :
![image](https://user-images.githubusercontent.com/12498020/113877975-7b66a300-97b9-11eb-9e15-74e672d67f58.png)

[2021-04-07 13:56] #134 closed

[2021-04-15 17:12] Taknok opened #135 "Tipo in SEO tag"
While using the liquid tag `{% I18n_Headers %}` a space is insert in `href` before the link for the current local:
[code]

This cause some search engines to trigger an error:
![image](https://user-images.githubusercontent.com/12498020/114910225-e9484580-9e1d-11eb-8c59-c3c4c7687391.png)

The error disappear when not space is inserted (manually done as presented [one the demo](https://polyglot.untra

[2021-04-15 18:30] Taknok commented on #135
#136

[2021-04-15 18:30] #135 closed

[2021-04-19 01:05] untra commented on #131
Heya @dimpram ,

I was looking into this right now, and yeah its kindof a pickle.

The static_files do get built in jekyll gradually as it looks through files in the build directory. And given the point of the `exclude_from_localization` files are supposed to files you want in your main site and not in your sublanguage sites, I actually think this is working as intended. I can see use cases for no

[2021-05-13 14:12] victorbnl commented on #121
If we put this code on the default language's index to be on `/`, i.e. the english index, the user who wants the english index will fall in a redirect loop

[2021-05-13 16:05] garraflavatra commented on #121
@victorbnl You’re right, otherwise you can make a friendly dialog, e.g. as Apple does:

![A49DBBB6-4F47-46F4-AE49-1503ADCA339E](https://user-images.githubusercontent.com/34036573/118152984-a924b480-b415-11eb-8254-31d3357344d1.jpeg)

[2021-05-13 18:45] victorbnl opened #138 "Fallback in _data ymls"
I have this
[code]

# Actual behaviour

And at some point of my site I use one of the strings in th yml, works fine on french and english but in spanish pages it works fine but on the spanish page there is nothing.

# Expected behaviour

It should see there is no spanish "strings" and use the default_language's one, so english, and display an english string on the spanish page

[2021-05-13 19:02] untra commented on #138
Heya @victorbnl 👋

so truth be told polyglot isn't going to relativize or fallback for content in those `_data` directory files. Long ago I actually [wrote some wiki words](https://github.com/untra/polyglot/wiki/Managing-Supported-Languages#adding-a-new-language) about the difference between _Basic Content_ (whole pages and posts, which is what Polyglot mostly helps manage) and _Rich Content_ (thi

[2021-05-13 19:07] victorbnl commented on #138
Well it's not the case. If we must copy the english file to spanish folder everytime we add a string in the english file that's not a viable solution at all. My site is not thatb ig but then, imagine having more than 100 or 1000 strings, that very quickly becomes a nightmare. But I understand if you don't want to implement it and if polyglot isn't made for that so as you want, I'll keep looking fo

[2021-05-13 19:17] victorbnl commented on #121
I'd say that's absolutely not a solution, that's an awful user-experience, the goal would be to just display directly the correct page to the user

[2021-05-13 20:45] victorbnl commented on #138
I tried reading the code and understanding it a bit in order to make a pull request but I struggle a lot. Anyway if I succeed in understanding the code and writing a pull request who works doing it would you accept it?

[2021-05-13 21:17] untra commented on #138
I have absolutely accepted pull requests from other contributors to Polyglot for quick fixes and other improvements. However...

This is actually a harder problem than it looks, with a lot of edge cases around different shapes of .yml file data, and any solution you come up with that updates polyglot core library code will also need tests written as well.

I  just want to reiterate: rich text stri

[2021-05-13 21:40] victorbnl commented on #138
Then I'm not going to try to write a pull request for that.

But I still think it would be very useful because _data's goal is to simplify adding quickly things without necessarly going in other files etc. Also copying the string to the other languages goes against the Don't Repeat Yourself principle. Also it becomes not only complicated if you have a lot of strings, but also just for languages. I

[2021-05-13 21:41] #138 closed

[2021-06-18 21:34] musicmichaelc opened #139 "Type-on-Strap theme modified for multilingual use"
Hi, here is a jekyll theme that I have tweaked so that it will work multilingually, especially together with your polyglot plugin:

[Fork / modified version of Type-on-Strap](https://github.com/musicmichaelc/Type-on-Strap/tree/master)

[2021-06-25 09:28] eighthave commented on #78
@obfusk since you've already done some work optimizing the Ruby code for f-droid.org, this issue might interest you.  Fixing this would allow us to deploy more languages on f-droid.org.  There are currently 3 more languages waiting to be added.

[2021-06-25 19:01] obfusk commented on #78
This seems to work:

[code]

[2021-06-28 07:57] eighthave commented on #78
I don't know much about Ruby, is `require 'etc'` part of the standard lib?  It
does not seem to be in Debian: https://packages.debian.org/search?keywords=etc

[2021-06-28 08:05] obfusk commented on #78
[Yes.](https://ruby-doc.org/stdlib-3.0.1/libdoc/etc/rdoc/Etc.html)

[2021-06-28 08:06] eighthave commented on #78
if that patch was in a fork, then I can easily do a test run on staging.f-droid.org

[2021-06-28 08:10] obfusk commented on #78
See #140. That's based on `master` here though, which is a few releases ahead of https://gitlab.com/fdroid/jekyll-polyglot.

[2021-06-28 08:18] eighthave commented on #78
I just had a quick look.  Release 1.3.3 looks like a trivial upgrade to use for
f-droid.org.  1.4.0 and newer would need testing and review.  I haven't looked
into what changed with the URL relativization, so I can't say what that would
take.  How would you like to proceed?

[2021-06-28 08:24] obfusk commented on #78
For now, I've cherry-picked the commit on top of 1.3.2 so you can test it in isolation: https://github.com/obfusk/polyglot/tree/nproc-1.3.2

[2021-06-28 13:12] obfusk commented on #78
FYI: in Python you can just use

[code]

or

[code]

[2021-07-01 16:34] #78 closed

[2021-07-03 18:43] obfusk opened #144 "doesn't check $?.exitstatus after waitpid"

[2021-07-13 01:52] untra commented on #139
This is cool! if you have an example multilingual website up and running this I'll add a link to it in the readme here.

cheers,
Sam Volin

[2021-11-18 22:06] dougieh opened #149 "Anchor links broken?"
Are hrefs containing an #anchor link supported by polyglot relativization?

e.g. this works great and will correctly go to /about, /es/about, /fr/about etc.:
`<a href="/about">About</a>`

But this will always route to the root of the site (/about) regardless of active language:
`<a href="/about#team">About</a>`

I'm guessing the presence of the anchor hash mark breaks a regex somewhere?

[2021-11-18 23:12] untra commented on #149
Hi @dougieh
I just checked the site and tests, but I do not see any examples of relativizing anchor tags

https://polyglot.untra.io/2021/07/17/polyglot-1.5.0/#thanks
https://polyglot.untra.io/es/2021/07/17/polyglot-1.5.0/#gracias

Yeah, I think it does indeed. :/ sorry about that.

heres that regex in question:
https://github.com/untra/polyglot/blob/master/lib/jekyll/polyglot/patches/jekyll/site.r

[2021-11-19 00:10] dougieh commented on #149
#150 should fix this!

[2021-11-19 02:13] #149 closed

[2021-11-19 02:22] #120 closed

[2022-01-05 19:10] kylekirkby commented on #55
This is still an issue. We are using Jekyll 4 and running Jekyll doctor with the latest version of this plugin still fails with the above issue.

[2022-01-05 19:22] untra commented on #55
@kylekirkby is this still a problem with jekyll-polyglot 1.5.0 ? afaik this was fixed a few versions back.
If this is still a problem for you, please make a new github issue rather than bumping an older closed issue. A stacktrace and further reproduction details are always appreciated.

[2022-01-05 19:22] #55 closed

[2022-01-05 19:29] kylekirkby opened #151 "`document_url_regex': undefined method `each' for nil:NilClass (NoMethodError)` with jekyll-polyglot-1.5.0 / jekyll 4.0.1"
Hi @untra,

As requested :)

We're using a custom docker container we've built for building our multiple Jekyll sites.

This is the entry script in the container where you can see `jekyll doctor` is being executed prior to building the site.

https://github.com/linaro-its/jekyll-build-container/blob/master/build-site.sh

This is what the `build-site.sh` script looks like that I'm running below (no

[2022-01-05 19:42] untra commented on #151
So that last line of the stacktrace corresponds to here:
[code]
https://github.com/untra/polyglot/blob/master/lib/jekyll/polyglot/patches/jekyll/site.rb#L171
in this case ruby doesn't think `@languages` has been defined, which should come from the polyglot configuration
https://github.com/untra/polyglot#configuration

I would think your build process is not passing along the correct or full _confi

[2022-01-05 20:23] kylekirkby commented on #151
I'm passing a valid `_config.yml` to `jekyll doctor` but I'm still getting the error. This is the exact yaml file I'm passing to `bundle exec jekyll serve` (which works fine) and `bundle exec jekyll doctor` (which doesn't).

[code]

[2022-01-05 20:24] kylekirkby commented on #151
Just for our sanity here is the stack trace when explicitly running jekyll doctor which is using the above Jekyll `_config.yml` file.

[code]

[2022-01-05 20:31] untra commented on #151
when you're running this command `jekyll doctor`, is this in a totally fresh environment? eg. are you running `jekyll build` beforehand?

I actually didn't know about that `jekyll doctor` command and don't have a test for polyglot with it, but from what I understand it checks for missing paths / config in files, and the nature of a polyglot I think would expect the files have already been written

[2022-01-05 20:40] kylekirkby commented on #151
I'm not running `jekyll build` prior but do have built site folders in the site repo.

You definitely understand the inner workings of Jekyll/ruby better than I do so I'll trust you on this 😄

[2022-01-05 20:42] kylekirkby commented on #151
https://github.com/jekyll/jekyll/blob/master/lib/jekyll/commands/doctor.rb

[2022-01-06 11:26] kylekirkby opened #152 "jekyll-polyglot removes any images generated by jekyll_picture_tag"
Hi @untra ,

We're using the jekyll_picture_tag plugin to generate webp images for our sites. With the addition of `jekyll-polyglot` this has broken. Jekyll_picture_tag places the generated images inside the `assets/images` of the output site folder as the site is building. When the site build ends, it appears that jekyll-polylgot is removing all of these generated images and simply replacing the

[2022-01-06 11:37] kylekirkby commented on #152
Possibly an issue with this file?
https://github.com/untra/polyglot/blob/master/lib/jekyll/polyglot/patches/jekyll/static_file.rb

[2022-01-08 15:08] PanderMusubi opened #153 "Translate dates"
Please, translate the date shown under a post as they are currently all in English. Reported for version 1.5.0.

[2022-01-08 15:11] PanderMusubi opened #154 "No trailing bar on language selector"
The language selector has at the end also a bar `|` which should be omitted and only occur in between the language codes.

    en | es | de | fr | ru

This was reported for version 1.5.0

[2022-01-14 19:23] rizkysyaiful commented on #107
@lah7 workaround is working well here. That'd be nice if @untra update the installation tutorial on readme.md until it get fixed.

[2022-02-06 19:05] julienguegan commented on #107
I am using Jekyll 3.9.0 and my css folder is never generated. I have try with the `sourcemap: never` and without ... Also I am using the **minimal-mistakes** themes

Someone has any idea ?

[2022-02-24 21:53] julienguegan opened #156 "tree structure incorrect"
Hi !

I have set up **jekyll-polyglot** but the tree structure generated in `_site ` seems incorrect to me :

[code]

As you see, for the english language `en`, inside the `posts` directory there is another `en` directory a second time. From my understanding, this one should not exists ...

Does someone encounter the same problem ? Is it normal ? If not, what can I do ?

Thank you for your help !

[2022-02-25 15:49] untra commented on #156
Hi @julienguegan ,

That tree structure is intentional, so your default lang (in this case `fr`) is the top level language users of site visit, and all other `en` posts are namespaced under `en`.

For example the polyglot `en` about page is at https://polyglot.untra.io/about but the french page is at https://polyglot.untra.io/fr/about .

Hopefully this makes sense. An alternative I've seen some us

[2022-02-25 16:28] julienguegan commented on #156
Ok I will try because I was expecting to not have the redundant `en` inside of `posts`. Because with that [the language switcher](https://github.com/untra/polyglot/blob/master/site/_includes/sidebar.html#L40) does not work (and I am not fluent enough in liquid to adapt it)

[2022-03-06 09:09] andreamoro commented on #156
As I'm new to Jekyll and polyglot and found this post pertinent, I've a pertinent question to the output.
How can I do ensure that each language is wrapped under its own lang folder?

I have multilingual site, but I want to build them in isolation, so whatever is in /en/ is seen only in that corresponding built version, whatever in the other languages following suit.

I tried both the following op

[2022-03-07 16:07] untra commented on #156
@andreamoro a solution is to specify a `default_lang` that is not among the listed langs, or is empty.
[code]
the site will still build, but most of the built site will be under the specified languages, with only pages without specified `lang` frontmatter still building under the root directory. You are then free to do whatever post-processing you want from there.

[2022-04-08 20:54] elotroalex opened #158 "the ferh mystery"
hi @untra. Thanks for this wonderful gem. Just ran into a glitch that I hadn't before. This is my 3rd site using your gem. In this glitch for some reason this code generates a `ferh=` inside my `<a>` element, instead of the expected `href=`. Needless to say, the links in the language switcher don't work:

[code]

[2022-04-08 20:57] elotroalex commented on #158
Interesting to note is that this only happens with `$ jekyll build` and not on `$ jekyll serve`. I'm kinda amazed by this glitch.

[2022-04-08 21:15] elotroalex commented on #158
Ah. Just found that you write this explicitly wrong so that you can catch it with a post-processor:

[code]

[2022-04-09 02:55] untra commented on #158
Hello @elotroalex 👋 , thanks for the praise, and sorry for the bug.

Yeah that is supposed to be caught by the postprocessor, which honestly is not a good approach and is rather wasteful.

now that is curious; I wonder why the different jekyll build commands would do that? is the build process actually running polyglot and relativizing? If you shoot me a link to your project I'd be happy to look

[2022-05-05 12:27] Clpsplug opened #160 "Post languages are not recognized in expected way"
# Summary

For every page I need to be localized, I have been naming the files as follows, Japanese being the primary language for this site:

[code]

The `index` and `works` pages are localized correctly. I'm using the permalink method for these:
[code]

The posts contain the following header; notice the lack of permalink because it does not make sense:

[code]

The problem is that the posts are

[2022-05-05 14:23] untra commented on #160
Hello @Clpsplug 👋

If you don't specify permalinks, then polyglot tries it's best to associate posts by file path. Make sure your posts have the `lang` specified (but you do say you have that). Jekyll will parse the date from the filename, but not the language suffix from the file.

If you look at these example files and how they're structured:

https://github.com/untra/polyglot/tree/master/site%2

[2022-05-06 15:22] Clpsplug commented on #160
Hello @untra! Yep, that does it. Seems like I misunderstood the "*tries its best to associate posts by file path*" part. I thought it can associate posts using *literally any part* of the path. Using the language directory fixed the problem! Thanks for the help!

[2022-05-06 15:22] #160 closed

[2022-06-03 19:37] ameaninglessname opened #161 "[Question] how to add buttons to switch language with jekyll-theme-chirpy theme"
![image](https://user-images.githubusercontent.com/20263103/171936756-1c778217-f9d6-47d8-a321-c9c1ecfe3554.png)
I wish to have the buttons and its functionality just like the bottom area.👆

But I have no idea about how to modify the things to make that happen...

After some searching though different repositories and issues, I decide to ask it here, sorry if this bother.

Feel free to close this.

[2022-06-03 20:00] untra commented on #161
Hi @ameaninglessname ,

try this bit of liquid magic out. it's the code behind that language switcher:
https://github.com/untra/polyglot/blob/master/site/_includes/sidebar.html#L40-L45

cheers,
@untra

[2022-06-05 08:01] #161 closed, assigned to nobody

[2022-08-16 11:02] tkosaka1976 opened #162 "exclude_from_localizations is not working for assets folder"
Dear @untra

Thank you for your developing this jekyll-plugin "polyglot".
This plugin helped me to make multi-language website under my understanding.
The application works well but I noticed that the function "exclude_from_localizations" is not working.
I found the "assets" folder in the each language folder (eg., en) when I set that in values of "exclude_from_localizations".

I do not clearly un

[2022-08-16 14:09] untra commented on #162
Hi @tkosaka1976 👋

I'm glad you're finding success with this plugin. Thanks for the report. Can you additionally share your _config.yml and a link to your repo so I can try to replicate the issue?

You twice mentioned the variable as "exclude_from_localizations" with an s when it's actually "exclude_from_localization". Spelling is important here and the typo could explain the behavior you're seein

[2022-08-17 05:28] tkosaka1976 commented on #162
Dear @untra

Thank you for your response.
I'll try to confirm that in a new test site, I'll try and if I found that I'll share it with you.
Please wait.

[2022-08-17 06:34] DukeDukeEm opened #163 "fork error on windows with parallel_localization disabled"
Hi,

I have problems running my project with your gem. I basically get the same error as in #50
but my `parallel_localization` is already set to `false`

My project: https://github.com/DukeDukeEm/dukedukeem.github.io

This only happens when I try to run it on my local Win7 machine, pushing the project to github pages throws an [relative_url_regex error](https://github.com/DukeDukeEm/dukedukeem.git

[2022-08-17 12:00] tkosaka1976 commented on #162
I made a repository [testcode-jekyll-polyglot](https://github.com/tkosaka1976/testcode-jekyll-polyglot.git)
I found that if we use theme "minima" then the "assets" problem happen.
This phenomena is not same as my previously encounterd situation, but that like results also happen.
I knew that if we remove the theme then the function "exclude_from_localizations" works.
Sorry, I cannot share my real

[2022-08-17 13:53] untra commented on #163
https://github.com/DukeDukeEm/dukedukeem.github.io/blob/main/_config.yml#L204-L209
your config settings are namespaced under `jekyll-polyglot:` which is not used by the yaml config in detecting settings. I'm not sure any of these settings will be picked up and respected.

remove line `204` and move the rest of that config flush to the left.

[2022-08-17 14:06] DukeDukeEm commented on #163
Thank you.
Now I get the same error as in the github action.
I guess something in my configured baseurl isn't right, but I can't see what, because I do not use an GitHub Pages Project sites and do not have an custom domain defined.

[2022-08-17 14:08] untra commented on #162
@tkosaka1976 I think this is whats going on here:
https://github.com/untra/polyglot/issues/132#issuecomment-808810772

Sorry for any confusion, this is a known conflict between the polyglot and minima gems. I'll be sure to document this further.

[2022-08-18 00:47] tkosaka1976 commented on #162
I see. I understand.
Anyway, the function "exclude_from_localizations" has limitations and conflicts with other plug-ins. This is probably caused by "assets" folder handling.
If I get another information, I'll report.
I'll remove these folders directly by myself before deployment.

Thank you for your help and development!

[2022-08-19 10:25] DukeDukeEm commented on #163
Since my wrongly configured _config.yml is working now I thank you very much helping me with this, for the remaining problem I will open another request, I hope you find the time to help me with my second problem too.

[2022-08-19 10:25] #163 closed

[2022-08-19 10:32] Duke-M-commits opened #164 "relative_url_regex error"
I get an `relative_url_regex` error while running polyglot with the [Chirpy Jekyll Theme](https://github.com/cotes2020/jekyll-theme-chirpy/)

The error can be seen here: https://github.com/DukeDukeEm/dukedukeem.github.io/runs/7892490257

What am I doing wrong? Please advise.